@* required fields for record: _id, creator, owner, created, data *@
@(spaceId: String, records: List[Record], user: String)

@skeleton{
	<div space-id="@spaceId" class="list-group">
		<p class="list-group-item active">Records</p>
		@if(records.size() > 0) {
			@records.map { record =>
				<a href="#" record-id="@record._id" class="list-group-item record">
					<button class="btn btn-sm btn-info">@User.getName(record.creator)</button>
					@Record.dataToString(record.data)
					<div class="pull-right">
						<button data-toggle="modal" data-target="#spacesModal" data-backdrop="false" class="btn btn-sm btn-primary spacesButton">Spaces</button>
						@if(record.owner.equals(user)) {
							<button data-toggle="modal" data-target="#circlesModal" data-backdrop="false" class="btn btn-sm btn-primary circlesButton">Circles</button>
						}
					</div>
				</a>
			}
		} else {
			<p class="list-group-item">No available records found.</p>
		}
	</div>
	
	<!-- Spaces modal -->
	<div class="modal fade" id="spacesModal" role="dialog" aria-labelledby="spacesLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="spacesLabel">Spaces with this record</h4>
				</div>
				<div class="modal-body">
					@defining(Space.findOwnedBy(user)) { spaces =>
						@if(spaces.size() > 0) {
							@spaces.map { space =>
								@views.html.elements.checkbox(space._id.toString()){@space.name}
							}
						} else {
							<p>You have no spaces yet. Click cancel and create a new one.</p>
						}
					}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" id="updateSpaces" class="btn btn-primary" data-dismiss="modal">Update</button>
				</div>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div> <!-- /.modal -->
	
	<!-- Circles modal -->
	<div class="modal fade" id="circlesModal" role="dialog" aria-labelledby="circlesLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="circlesLabel">Circles this record is shared with</h4>
				</div>
				<div class="modal-body">
					@defining(Circle.findOwnedBy(user)) { circles =>
						@if(circles.size() > 0) {
							@circles.map { circle =>
								@views.html.elements.checkbox(circle._id.toString()){@circle.name}
							}
						} else {
							<p>You have no circles yet. Click cancel and create a new one.</p>
						}
					}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" id="updateCircles" class="btn btn-primary" data-dismiss="modal">Update</button>
				</div>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div> <!-- /.modal -->
	
	<!-- Load specific js -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/list.js")"></script>
}