<div ng-hide="error.show" class="row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <weight-scale style="display: block; height: 150px"
          weight={{latestMeasurement.weight}}
          bmi={{latestMeasurement.bmi}}></weight-scale>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href ng-click="collapseLegend()">Legend <span class="glyphicon glyphicon-th-list"></span></a>
              </h3>
            </div>
          <ul ng-hide="legendCollapsed" class="list-group">
            <li ng-repeat="bmiZone in bmiZones" ng-class="bmiZone.bmiInfo.colorClass"
              class="list-group-item">{{bmiZone.bmiInfo.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="well col-xs-6">
    <div class="row">
      <div class="col-xs-6">
        <h2>Details</h2>
        <dl>
          <dt>Last measurement date:</dt>
          <dl>{{latestMeasurement.date | date : mediumDate}}</dl>
          <dt>Weight:</dt>
          <dl>{{latestMeasurement.weight  | number : 1}} kg</dl>
          <dt>BMI:</dt>
          <dl>{{latestMeasurement.bmi | number : 1}}</dl>
        </dl>
      </div>
      <div class="col-xs-6">
        <h2>HDC Tips <small><span class="glyphicon glyphicon-info-sign"></span></small></h2>
        <p ng-class="messages[currentMsg].context">{{messages[currentMsg].msg}}</p>
        <ul class="pager">
          <li class="previous" ng-class="previousDisabled">
            <a href ng-click="previousTip()">Previous tip</a>
          </li>
          <li class="next" ng-class="nextDisabled">
            <a href ng-click="nextTip()">Next tip</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div ng-show="error.show" class="row">
  <div class="alert alert-danger">
    {{error.msg}}
  </div>
</div>
