<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>User Credentials</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" defer></script>
		<script type="text/javascript" src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js" defer></script>
		<script type="text/javascript" src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
	</head>
	<body>
		<div class="container" ng-app="credentials" ng-controller="CredentialsCtrl" ng-cloak>
			<div class="col-xs-10 col-xs-offset-2 page-header">
				<h1>Look up your credentials</h1>
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				<div class="alert alert-danger alert-dismissable" ng-show="error">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{error}}
				</div>
			</div>
			<div class="col-xs-10 col-xs-offset-2" ng-show="loading">
				<p>Loading records...</p>
			</div>
			<div ng-hide="loading || empty">
				<div ng-hide="authorized">
					<p class="col-xs-10 col-xs-offset-2">Enter the passphrase for the credentials that you would like to look up.</p>
					<form class="form-horizontal" ng-submit="checkPassphrase()">
						<div class="form-group">
							<label for="passphrase" class="col-xs-2 control-label">Passphrase</label>
							<div class="col-xs-8">
								<input type="password" id="passphrase" class="form-control" placeholder="Passphrase" ng-model="passphrase">
							</div>
							<div class="col-xs-2">
								<button type="button" class="btn btn-primary" ng-click="checkPassphrase()">
									<span class="glyphicon glyphicon-lock"></span> Decrypt
								</button>
							</div>
						</div>
					</form>
				</div>
				<div ng-show="authorized">
					<div class="col-xs-10 col-xs-offset-2">
						<div class="form-group">
						<button type="button" class="btn btn-primary" ng-click="reset()">
							<span class="glyphicon glyphicon-refresh"></span> Reset
						</button>
						</div>
					</div>
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-xs-2 control-label">Credentials</label>
							<div class="col-xs-10">
								<div class="form-group">
									<div class="col-xs-4">
										<label for="selectSite" class="sr-only control-label">Select a site: </label>
										<select id="selectSite" class="form-control" ng-model="current" ng-options="credentials.site for credentials in decrypted">
											<option value="">Choose a site</option>
										</select>
									</div>
									<div class="col-xs-3" ng-show="current">
										<p>Username: {{current.username}}</p>
									</div>
									<div class="col-xs-3" ng-show="current">
										<p>Password: {{current.password}}</p>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
