@(circle: Circle)

<li circle-id="@circle._id">
	Name: <a class="circleName" href="">@circle.name</a><br>
	<ul id="@circle._id" class="members">
		Members:
		@circle.members.map { member =>
			@if(member != circle.owner) {
				@views.html.elements.circles.member(circle._id, member)
			}
		}
	</ul>
	<button class="addMember" href="">Add member</button>
	<a class="newMember" href="">New member</a>
    <button class="deleteCircle" href="">Delete</button>
    <span class="loader">Loading</span>
</li>