@(contacts: List[User], users: List[User], circle: Circle, active: Boolean)

<div id="@circle._id" class="circle tab-pane fade @if(active){in active}">
	<div class="list-group">
		<span class="list-group-item active">Members</span>
		@if(circle.members.size() > 0) {
			@circle.members.map { member =>
				<a href="" circle-id="@circle._id" id="@member" class="member list-group-item">
					@User.getName(member.asInstanceOf[org.bson.types.ObjectId])
					<button class="btn btn-xs btn-warning removeMember">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</a>
			}
		} else {
			<p class="list-group-item">This circle has no members yet.</p>
		}
   	</div>
   	<button data-toggle="modal" data-target="#userForm@circle._id" class="btn btn-primary addUser">
		<span class="glyphicon glyphicon-plus-sign"></span> Add user
	</button>
    <button class="btn btn-danger deleteCircle">
    	<span class="glyphicon glyphicon-remove-sign"></span> Delete circle
    </button>
    
    <!-- Add users modal -->
	@helper.form(routes.Circles.addUsers(circle._id.toString())) {
		<div class="modal fade" id="userForm@circle._id" role="dialog" aria-labelledby="userFormLabel@circle._id" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="userFormLabel@circle._id">Add users to this circle</h4>
					</div>
					<div class="modal-body">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#@circle._id-contacts" data-toggle="tab">Contacts</a>
							</li>
							<li>
								<a href="#@circle._id-all" data-toggle="tab">All users</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="@circle._id-contacts" class="tab-pane fade active in">
								@views.html.elements.circles.userForm(Circle.makeDisjoint(circle._id, contacts))
							</div>
							<div id="@circle._id-all" class="tab-pane fade">
								<input type="text" class="userSearch" name="userSearch" placeholder="Search for a user">
								@views.html.elements.circles.userForm(Circle.makeDisjoint(circle._id, users))
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->
	}
</div>