@(records: List[Record], shared: Set[org.bson.types.ObjectId])

<div id="records" class="panel panel-default">
	<div class="panel-heading">
		<button id="editButton" type="button" class="btn btn-primary pull-right panel-title">Let me edit this</button>
		<h3 class="panel-title">Records</h3>
	</div>
	<div class="panel-body">
		@if(records.isEmpty()) {
			<p>You have no records yet. You can also add them manually on your spaces page.</p>
		} else {
			<fieldset id="recordFieldset" disabled>
				@records.map { record =>
					@views.html.elements.share.record(record, shared.contains(record._id))
				}
			</fieldset>
		}
	</div>
</div>