@(space: Space)

<p>@space.name</p>
<!-- 
<div space-id="@space._id" class="space panel-container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><span class="spaceName">@space.name</span></h3>
		</div>
		<div class="panel-body">
			<div id="@space._id" class="list-group">
				<span class="list-group-item active">Members</span>
				@space.records.map { record =>
					@views.html.elements.spaces.record(space._id, record)
				}
			</div>
			<button class="btn btn-sm btn-primary addMember" href="">
				<span class="glyphicon glyphicon-plus"></span> Add member
			</button>
			<span class="newMember">New member</span>
		    <button class="btn btn-sm btn-danger deleteSpace" href="">
		    	<span class="glyphicon glyphicon-remove-space"></span> Delete space
		    </button>
    	</div>
	</div>
</div>
 -->