@(records: List[Record], space: Space)

<div class="space tab-pane fade" id="@space._id">
	<div class="list-group">
		<span class="list-group-item active">Records</span>
		@if(space.records.size() > 0) {
			@space.records.map { record =>
				@views.html.elements.spaces.record(space._id, record.asInstanceOf[org.bson.types.ObjectId])
			}
		} else {
			<p id="noRecords" class="list-group-item">This space has no records yet.</p>
		}
	</div>
	<button data-toggle="modal" data-target="#recordForm@space._id" class="btn btn-primary addRecord">
		<span class="glyphicon glyphicon-plus-sign"></span> Add record
	</button>
	<button class="btn btn-danger deleteSpace">
		<span class="glyphicon glyphicon-remove-sign"></span> Delete space
	</button>
	
	<!-- Add records modal -->
	@helper.form(routes.Spaces.addRecords(space._id.toString())) {
		<div class="modal fade" id="recordForm@space._id" role="dialog" aria-labelledby="recordFormLabel@space._id" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="recordFormLabel@space._id">Add records to this space</h4>
					</div>
					<div class="modal-body">
						<input type="text" class="recordSearch" name="recordSearch" placeholder="Search in your records">
						@views.html.elements.spaces.recordForm(Space.makeDisjoint(space._id, records))
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->
	}
</div>