rect.weightscale-bmi-severe-thinness,rect.weightscale-bmi-moderate-thinness {
  fill: #556270;
}
li.weigthscale-bmi-severe-thinness,li.weightscale-bmi-moderate-thinness {
  color: #556270;
}

rect.weightscale-bmi-mild-thinness {
  fill: #4ECDC4;
}
li.weightscale-bmi-mild-thinness {
  color: #4ECDC4;
}

rect.weightscale-bmi-normal {
  fill: #2BB589;
}
li.weightscale-bmi-normal {
  color: #2BB589;
}

rect.weightscale-bmi-overweight {
  fill: #FF6B6B;
}
li.weightscale-bmi-overweight {
  color: #FF6B6B;
}

rect.weightscale-bmi-obese-i,.weightscale-bmi-obese-ii,.weightscale-bmi-obese-iii
  {
  fill: #C44D58;
}
li.weightscale-bmi-obese-i,.weightscale-bmi-obese-ii,.weightscale-bmi-obese-iii
  {
  color: #C44D58;
}

.weightscale-bmizone {
  stroke: none;
}

.weightscale-tick {
  stroke: none;
  fill: #323640;
}

.weightscale-indicator {
  stroke: none;
  fill: #8C94A1;
}

.weightscale-tick-text {
  text-anchor : middle;
  stroke: #E4EDFA;
  fill: #E4EDFA;
}

.weightscale-border {
  fill: none;
  stroke: #323640;
}