@main("News") {
	<div ng-app="messages" ng-controller="CreateMessageCtrl">
		<div class="page-header">
			<h1>Write a new message</h1>
		</div>
		
		<div class="row">
			<div class="col-md-offset-2 col-md-10">
				<div class="alert alert-danger alert-dismissable" ng-show="error">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<p>{{error}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-10">
				<div class="alert alert-success alert-dismissable" ng-show="success">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<p>{{success}}</p>
				</div>
			</div>
		</div>
		
		<form class="form-horizontal">
			<div class="form-group">
				<label for="receivers" class="col-md-2 control-label">To</label>
				<div class="col-md-10">
					<p ng-hide="message.receivers.length">No receivers selected yet.</p>
					<div ng-show="message.receivers.length">
						<button type="button" class="btn btn-default btn-sm" ng-repeat="receiver in message.receivers" ng-click="remove(receiver)">
							{{receiver.value}} &times;
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="text" id="query" class="form-control" placeholder="Search for a user" ng-model="message.query" autofocus>
				</div>
			</div>
			<div class="form-group">
				<label for="subject" class="col-md-2 control-label">Subject</label>
				<div class="col-md-10">
					<input type="text" id="subject" class="form-control" placeholder="Subject" ng-model="message.title">
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-md-2 control-label">Content</label>
				<div class="col-md-10">
					<textarea rows="5" id="description" class="form-control" placeholder="Content" ng-model="message.content"></textarea>
				</div>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>
				<a href="@routes.Messages.index()" class="btn btn-default">Discard</a>
			</div>
		</form>
	</div>

	<!-- Load messages controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/messages.js")"></script>
}