@main("Import records") {
	<div ng-app="importRecords" ng-controller="ImportRecordsCtrl">
		<a href="@routes.Records.index()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to records</a>
		<p ng-show="loading">Loading...</p>
		<p ng-hide="loading">
			<p ng-show="message">{{message}}</p>
			<button id="authorize" type="button" class="btn btn-success" ng-hide="authorized" ng-click="authorize()">Authorize</button>
			<button type="button" class="btn btn-primary" ng-show="authorized" ng-click="importRecords()">Import records now</button>
		</p>
	</div>
	
	<!-- Load records controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/records.js")"></script>
	
}