@main("Import records") {
	<div ng-app="importRecords" ng-controller="ImportRecordsCtrl">
		<a href="@routes.Records.index()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to records</a>
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		<p ng-show="loading">Loading...</p>
		<p ng-hide="loading">
			<p ng-show="message">{{message}}</p>
			<button id="authorize" type="button" class="btn btn-success" ng-hide="authorized" ng-click="authorize()">Authorize</button>
			<iframe ng-src="{{importUrl}}" height="600px" width="100%" ng-show="authorized"></iframe>
		</p>
	</div>
	
	<!-- Load records controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/records.js")"></script>
	
}