@main("Market") {
	<div ng-app="market" ng-controller="RegisterVisualizationCtrl">
		<div class="page-header">
			<h1>Register a new visualization</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
	
		<form class="form-horizontal" ng-submit="registerVisualization">
			<div class="form-group">
				<label for="name" class="col-md-2 control-label">Name</label>
				<div class="col-md-10">
					<input type="text" id="name" class="form-control" placeholder="Name" ng-model="visualization.name" autofocus>
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-md-2 control-label">Description</label>
				<div class="col-md-10">
					<textarea rows="5" id="description" class="form-control" placeholder="Description" ng-model="visualization.description"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="url" class="col-md-2 control-label">URL</label>
				<div class="col-md-10">
					<input type="text" id="url" class="form-control" placeholder="URL" ng-model="visualization.url">
				</div>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary">Register</button>
				<a href="@routes.Market.index()" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</div>
		
	<!-- Load market controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/market.js")"></script>
}