@main("Market") {
	<div ng-app="market" ng-controller="RegisterAppCtrl">
		<div class="page-header">
			<h1>Register a new app</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a href="#create" data-toggle="tab">Creation</a></li>
			<li><a href="#oauth1" data-toggle="tab">Import with OAuth 1.0</a></li>
			<li><a href="#oauth2" data-toggle="tab">Import with OAuth 2.0</a></li>
		</ul>
		<div class="tab-content">
			<div id="create" class="tab-pane fade active in">
				<form class="form-horizontal" ng-submit="registerApp('create')">
					<div class="form-group">
						<label for="filename" class="col-md-2 control-label">Filename</label>
						<div class="col-md-10">
							<input type="text" id="filename" class="form-control" placeholder="Filename" ng-model="app.filename" autofocus>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-md-2 control-label">Name</label>
						<div class="col-md-10">
							<input type="text" id="name" class="form-control" placeholder="Name" ng-model="app.name">
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="5" id="description" class="form-control" placeholder="Description" ng-model="app.description"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="url" class="col-md-2 control-label">URL to create records</label>
						<div class="col-md-10">
							<input type="text" id="url" class="form-control" placeholder="URL (must include &quot;:authToken&quot;)" ng-model="app.url">
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">Register</button>
						<a href="@routes.Market.index()" class="btn btn-default">Cancel</a>
					</div>
				</form>
			</div>
			<div id="oauth1" class="tab-pane fade">
				<form class="form-horizontal" ng-submit="registerApp('oauth1')">
					<div class="form-group">
						<label for="filename1" class="col-md-2 control-label">Filename</label>
						<div class="col-md-10">
							<input type="text" id="filename1" class="form-control" placeholder="Filename" ng-model="app.filename" autofocus>
						</div>
					</div>
					<div class="form-group">
						<label for="name1" class="col-md-2 control-label">Name</label>
						<div class="col-md-10">
							<input type="text" id="name1" class="form-control" placeholder="Name" ng-model="app.name" autofocus>
						</div>
					</div>
					<div class="form-group">
						<label for="description1" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="5" id="description1" class="form-control" placeholder="Description" ng-model="app.description"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="url1" class="col-md-2 control-label">URL</label>
						<div class="col-md-10">
							<input type="text" id="url1" class="form-control" placeholder="URL (must include &quot;:authToken&quot;)" ng-model="app.url">
						</div>
					</div>
					<div class="form-group">
						<label for="authorizationUrl1" class="col-md-2 control-label">Authorization URL</label>
						<div class="col-md-10">
							<input type="text" id="authorizationUrl1" class="form-control" placeholder="Authorization URL" ng-model="app.authorizationUrl">
						</div>
					</div>
					<div class="form-group">
						<label for="accessTokenUrl1" class="col-md-2 control-label">Access token URL</label>
						<div class="col-md-10">
							<input type="text" id="accessTokenUrl1" class="form-control" placeholder="Access token URL" ng-model="app.accessTokenUrl">
						</div>
					</div>
					<div class="form-group">
						<label for="consumerKey1" class="col-md-2 control-label">Consumer key</label>
						<div class="col-md-10">
							<input type="text" id="consumerKey1" class="form-control" placeholder="Consumer key" ng-model="app.consumerKey">
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">Register</button>
						<a href="@routes.Market.index()" class="btn btn-default">Cancel</a>
					</div>
				</form>
			</div>
			<div id="oauth2" class="tab-pane fade">
				<form class="form-horizontal" ng-submit="registerApp('oauth2')">
					<div class="form-group">
						<label for="filename2" class="col-md-2 control-label">Filename</label>
						<div class="col-md-10">
							<input type="text" id="filename2" class="form-control" placeholder="Filename" ng-model="app.filename" autofocus>
						</div>
					</div>
					<div class="form-group">
						<label for="name2" class="col-md-2 control-label">Name</label>
						<div class="col-md-10">
							<input type="text" id="name2" class="form-control" placeholder="Name" ng-model="app.name" autofocus>
						</div>
					</div>
					<div class="form-group">
						<label for="description2" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<textarea rows="5" id="description2" class="form-control" placeholder="Description" ng-model="app.description"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="url2" class="col-md-2 control-label">URL</label>
						<div class="col-md-10">
							<input type="text" id="url2" class="form-control" placeholder="URL (must include &quot;:authToken&quot;)" ng-model="app.url">
						</div>
					</div>
					<div class="form-group">
						<label for="authorizationUrl2" class="col-md-2 control-label">Authorization URL</label>
						<div class="col-md-10">
							<input type="text" id="authorizationUrl2" class="form-control" placeholder="Authorization URL" ng-model="app.authorizationUrl">
						</div>
					</div>
					<div class="form-group">
						<label for="accessTokenUrl2" class="col-md-2 control-label">Access token URL</label>
						<div class="col-md-10">
							<input type="text" id="accessTokenUrl2" class="form-control" placeholder="Access token URL" ng-model="app.accessTokenUrl">
						</div>
					</div>
					<div class="form-group">
						<label for="consumerKey2" class="col-md-2 control-label">Consumer key</label>
						<div class="col-md-10">
							<input type="text" id="consumerKey2" class="form-control" placeholder="Consumer key" ng-model="app.consumerKey">
						</div>
					</div>
					<div class="form-group">
						<label for="consumerSecret" class="col-md-2 control-label">Consumer secret</label>
						<div class="col-md-10">
							<input type="text" id="consumerSecret" class="form-control" placeholder="Consumer secret" ng-model="app.consumerSecret">
						</div>
					</div>
					<div class="form-group">
						<label for="scopeParameters" class="col-md-2 control-label">Scope parameters</label>
						<div class="col-md-10">
							<input type="text" id="scopeParameters" class="form-control" placeholder="Scope parameters" ng-model="app.scopeParameters">
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">Register</button>
						<a href="@routes.Market.index()" class="btn btn-default">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Load market controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/market.js")"></script>
}