.time-series-focus-line {
  fill: none;
  stroke-width: 2;
}

.time-series-context-area {
  opacity: 0.5;
  stroke: none;
}

.time-series-point {
  fill: none;
  stroke-width: 1;
  cursor: crosshair;
}

.time-series-tooltip {
  stroke: #000000;
  cursor: crosshair;
  text-anchor: middle;
  font-size: 12px;
}

.time-series-axis-titles text{
  text-anchor: middle;
  font-weight: bold;
  font-size: 16px;
}

.time-series-axis .domain {
  stroke : none;
  fill: #000000;
}

.time-series-axis line {
  stroke: #000000;
}

.time-series-focus-line-0 {
  stroke: #FFED83;
}

.time-series-focus-line-1 {
  stroke: #E88A6B;
}

.time-series-focus-line-2 {
  stroke: #D283FF;
}

.time-series-focus-line-3 {
  stroke: #6BC3E8;
}

.time-series-focus-line-4 {
  stroke: #87FF76;
}

.time-series-context-area-0 {
  fill: #FFED83;
}

.time-series-context-area-1 {
  fill: #E88A6B;
}

.time-series-context-area-2 {
  fill: #D283FF;
}

.time-series-context-area-3 {
  fill: #6BC3E8;
}

.time-series-context-area-4 {
  fill: #87FF76;
}

.time-series-focus-point-0 {
  stroke: #FFE34A;
}

.time-series-focus-point-1 {
  stroke: #E86038;
}

.time-series-focus-point-2 {
  stroke: #B74AFF;
}

.time-series-focus-point-3 {
  stroke: #38BAE8;
}

.time-series-focus-point-4 {
  stroke: #5FFF3E;
}

.time-series-legend {
}

.time-series-legend-0 {
  background-color: #FFED83;
}

.time-series-legend-1 {
  background-color: #E88A6B;
}

.time-series-legend-2 {
  background-color: #D283FF;
}

.time-series-legend-3 {
  background-color: #6BC3E8;
}

.time-series-legend-4 {
  background-color: #87FF76;
}