<svg ng-attr-width={{dimensions.width}} ng-attr-height={{dimensions.height}}>
	<path ng-attr-d="M{{coordinates.left}},
					  {{coordinates.top}}
					 A{{dimensions.arc.rx}} 
					  {{dimensions.arc.ry}}
					  0 0 1
					  {{coordinates.right}}
					  {{coordinates.top}}
					 L{{coordinates.right}}
					  {{coordinates.bottom}}
					 A{{dimensions.arc.rx}}
					  {{dimensions.arc.ry}}
					  0 0 1
					  {{coordinates.left}}
					  {{coordinates.bottom}}
					 L{{coordinates.left}}
					  {{coordinates.top}}
					 A{{dimensions.arc.rx}}
					  {{dimensions.arc.ry}}
					  0 1 0
					  {{coordinates.right}}
					  {{coordinates.top}}
					 A{{dimensions.arc.rx}}
					  {{dimensions.arc.ry}}
					  0 0 1
					  {{coordinates.left}}
					  {{coordinates.top}}"
		ng-style="pathStyle"
		class="glass-outline"></path>
	<path ng-attr-d="M{{coordinates.left}}
					  {{coordinates.bottom}}
					 A{{dimensions.arc.rx}}
					  {{dimensions.arc.ry}}
					  0 1 0
					  {{coordinates.right}}
					  {{coordinates.bottom}}
					 L{{coordinates.right}}
					  {{waterLevel}}
					 A{{dimensions.arc.rx}}
					  {{dimensions.arc.ry}}
					  0 0 1
					  {{coordinates.left}}
					  {{waterLevel}}
					 L{{coordinates.left}}
					  {{coordinates.bottom}}"
		ng-style="pathStyle"
		class="water-level-body"></path>
	<ellipse ng-attr-cx="{{coordinates.center}}"
             ng-attr-cy="{{waterLevel}}"
             ng-attr-rx="{{dimensions.arc.rx}}"
             ng-attr-ry="{{dimensions.arc.ry}}"
             class="water-level-top">
    </ellipse>
</svg>