#clock-wrapper .clock-inner {
    stroke: rgba(210, 210, 210, 1);
    fill: none;
}

#clock-wrapper .clock-tick {
    stroke: rgba(210, 210, 210, 1);
}

#clock-wrapper .clock-tick-text {
    font-size: 14px;
    fill: rgba(150, 150, 150, 1);
}

#clock-wrapper .clock-outer {
    fill: rgba(250, 250, 250, 1);
}

#clock-wrapper .clock-move-event-1 {
    fill: rgba(255, 246, 0, 1);
    stroke: none;
}

#clock-wrapper .clock-move-event-2 {
    fill: rgba(255, 201, 50, 1);
    stroke: none;
}

#clock-wrapper .clock-move-event-3 {
    fill: rgba(255, 167, 83, 1);
    stroke: none;
}

#clock-wrapper .clock-move-event-4 {
    fill: rgba(255, 136, 71, 1);
    stroke: none;
}

#clock-wrapper .clock-move-event-5 {
    fill: rgba(255, 90, 73, 1);
    stroke: none;
}

#clock-wrapper .clock-sleep-event-1 {
    fill: rgba(127, 255, 168, 1);
    stroke: none;
}

#clock-wrapper .clock-sleep-event-2 {
    fill: rgba(80, 196, 235, 1);
    stroke: none;
}

#clock-wrapper .clock-sleep-event-3 {
    fill: rgba(87, 141, 212, 1);
    stroke: none;
}

#clock-wrapper .clock-event-active {
    fill: rgba(74, 139, 255, 1);
}

#clock-wrapper .clock-controller-title {
    color: rgba(200, 200, 200, 1);
}

.clock-tip {
    padding: 8px;
    line-height: 1;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}

.clock-tip:after {
    display: inline;
    font-size: 11px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.clock-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

.clock-tip-value {
    color: rgba(230, 18, 61, 1);
    font-weight: bold;
}