<div id="clock-wrapper" class="row">
    <div class="col-xs-8 text-center">
        <svg id="clock">
            <g>
                <path class="clock-outer"></path>
            </g>
            <g id="clock-move-events"></g>
            <g id="clock-sleep-events"></g>
            <g>
                <path class="clock-inner"></path>

                <path class="clock-tick" ng-repeat="clockTick in clockTicks" d="M0 0L0 8" ng-attr-transform="translate({{center}}, {{center}}) rotate({{clockTick.angle}}) translate(0, {{clockInnerArc.outerRadius()() - 8}})"></path>

                <text class="clock-tick-text" ng-repeat="clockTick in clockTicks | clockTickFilter" ng-attr-transform="translate({{center}}, {{center}}) rotate({{clockTick.angle}}) translate(0, {{clockInnerArc.outerRadius()()-10}})" text-anchor="middle">{{clockTick.hour}}</text>
            </g>
        </svg>
    </div>
    <div class="col-xs-4">
        <div class="row text-left">
            <h3 class="clock-controller-title">Date</h3>
        </div>
        <div class="row text-left">
            <div class="input-group col-xs-6">
                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="selectedDate" is-open="isDatepickerOpen" min-date="datepickerMin" max-date="datepickerMax" date-disabled="isDateDisabled(date, mode)" ng-required="true" show-button-bar="false" disabled="disabled"></span>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="updateSelectedDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="row text-left">
            <h3 class="clock-controller-title">Moves</h3>
        </div>
        <div class="row text-left" ng-show="isClockMoveEventsEmpty">
            <p class="clock-controller-text">No moves recorded on this day</p>
        </div>
        <div ng-hide="isClockMoveEventsEmpty">
            <div class="row text-left">
                <div class="btn-group" dropdown is-open="isMoveFieldMenuOpen">
                    <button class="btn btn-default dropdown-toggle">
                        {{selectedMoveField.text}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Choose a field to display</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="option in moveField" ng-click="updateSelectedMoveField(option)"><a>{{option.text}}</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row text-left">
                <div class="btn-group" dropdown is-open="granularityMenuIsOpen">
                    <button class="btn btn-default dropdown-toggle">
                        {{selectedGranularity.text}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Choose the frequency to summarize your data</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="option in granularities" ng-click="updateSelectedGranularity(option)"><a>{{option.text}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row text-left">
            <h3 class="clock-controller-title">Sleep</h3>
        </div>
        <div class="row text-left" ng-show="isClockSleepEventsEmpty">
            <p class="clock-controller-text">No sleep recorded on this day</p>
        </div>
        <div ng-hide="isClockSleepEventsEmpty">
            <div class="row text-left">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="sleepDataRadio" btn-radio="'shown'">On</label>
                    <label class="btn btn-default" ng-model="sleepDataRadio" btn-radio="'hidden'">Off</label>
                </div>
            </div>
        </div>
    </div>
</div>