<div ng-controller="ImportCtrl">
	<div class="page-header">
		<h1>Import a record</h1>
	</div>
	<div class="alert alert-danger alert-dismissable" ng-show="error">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<p>{{error}}</p>
	</div>
	<p ng-show="status">{{status}}</p>
	<form class="form-inline">
		<select class="form-control" ng-model="measure" ng-options="measurement.name for measurement in measurements">
			<option value="">Choose a category</option>
		</select>
		<button type="button" class="btn btn-primary" ng-click="startImport()" ng-disabled="importing">Import data</button>
	</form>
	<p ng-show="importing">Extracted {{extracted}} records from Jawbone. {{saved}} records saved to database.</p>
</div>