<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>User Credentials</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js"></script>
		<script type="text/javascript" src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<div class="container" ng-app="credentials" ng-controller="CreateCtrl">
			<div class="col-xs-10 col-xs-offset-2 page-header">
				<h1>Securely store your credentials</h1>
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				<div class="alert alert-success alert-dismissable" ng-show="success">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{success}}
				</div>
				<div class="alert alert-danger alert-dismissable" ng-show="errors.global">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{errors.global}}
				</div>
			</div>
			<form class="form-horizontal">
				<div class="form-group" ng-class="{'has-error has-feedback': errors.title}">
					<label for="title" class="col-xs-2 control-label">Title</label>
					<div class="col-xs-10">
						<input type="text" id="title" class="form-control" placeholder="Title (to retrieve this record later)" ng-model="title" autofocus>
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.title}}" ng-show="errors.title"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.passphrase}">
					<label for="passphrase" class="col-xs-2 control-label">Passphrase</label>
					<div class="col-xs-10">
						<input type="password" id="passphrase" class="form-control" placeholder="Passphrase (between 8 and 100 characters)" ng-model="passphrase">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.passphrase}}" ng-show="errors.passphrase"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.passphrase}">
					<label for="passphrase2" class="sr-only control-label">Passphrase</label>
					<div class="col-xs-offset-2 col-xs-10">
						<input type="password" id="passphrase2" class="form-control" placeholder="Re-enter passphrase" ng-model="passphrase2">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.passphrase}}" ng-show="errors.passphrase"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': errors.credentials}">
					<label class="col-xs-2 control-label">Credentials</label>
					<div class="col-xs-10">
						<div class="form-group" ng-class="{'has-error': c.error}" ng-repeat="c in credentials">
							<div class="col-xs-4">
								<input type="text" class="form-control" placeholder="Site" ng-model="c.site">
							</div>
							<div class="col-xs-3">
								<input type="text" class="form-control" placeholder="Username" ng-model="c.username">
							</div>
							<div class="col-xs-3">
								<input type="password" class="form-control" placeholder="Password" ng-model="c.password">
							</div>
							<div class="col-xs-1">
								<button type="button" class="btn btn-danger" ng-click="removeCredentials(c)">
								<span class="glyphicon glyphicon-minus-sign"></span>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10">
								<button type="button" class="btn btn-default" ng-click="addCredentials()">
									<span class="glyphicon glyphicon-plus-sign"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-offset-2">
					<a href="" class="btn btn-primary" ng-class="{disabled: loading}" ng-click="validate()">Create</a>
				</div>
			</form>
		</div>
	</body>
</html>
