<div ng-controller="RunAggregatorCtrl">
	<div class="page-header">
		<h3>Run Aggregator</h3>
	</div>
	
	<div ng-show="loading">
		<p>Loading records...</p>
	</div>
	<div ng-hide="loading">
		<div class="row">
			<div class="col-xs-8">Total distance covered:</div>
			<div class="col-xs-2"><p class="text-info"><strong>{{distance}}</strong></p></div>
			<div class="col-xs-2">km.</div>
		</div>
		<div class="row">
			<div class="col-xs-8">Total time spent running:</div>
			<div class="col-xs-2"><p class="text-info"><strong>{{time}}</strong></p></div>
			<div class="col-xs-2">hours.</div>
		</div>
		<div class="row">
			<div class="col-xs-8">Average speed:</div>
			<div class="col-xs-2"><p class="text-info"><strong>{{speed}}</strong></p></div>
			<div class="col-xs-2">km/h.</div>
		</div>
	</div>
</div>
