// -----------------------------------
// NAVIGATION
// -----------------------------------
// author: mda@zenexity.com - 2011
// -----------------------------------
body {
    & > nav {
        padding: 10px 0 0;
        background: @naviBackground;
        border-right: 1px solid @layoutBorderColor;
    }
}

a {
    color: @naviColor;
}