<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>23andMe Converter</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
	</head>
	<body>
		<div class="container" ng-app="converter" ng-controller="ConverterCtrl" ng-cloak>
			<div class="col-xs-10 col-xs-offset-2 page-header">
				<h1>Convert a 23andMe file</h1>
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				<div class="alert alert-success alert-dismissable" ng-show="success">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{success}}
				</div>
				<div class="alert alert-danger alert-dismissable" ng-show="errors.server">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<p>{{errors.server}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<p ng-show="loading">Loading files...</p>
					<div ng-show="!loading && !errors.server && !files.length">
						<div class="alert alert-warning">No files found. Please upload a 23andMe file with the File Uploader app.</div>
					</div>
				</div>
			</div>
			<div ng-show="!loading && files.length">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-2">
						<p>Converting a plain 23andMe file makes it usable by visualizations, such as the SNP-Snip visualization. If you have already uploaded a 23andMe file with the File Uploader, you can convert it now by selecting it from the list below.</p>
					</div>
				</div>
				<form class="form-horizontal" ng-submit="validate()">
					<div class="form-group">
						<div class="col-xs-8 col-xs-offset-2" ng-class="{'has-error has-feedback': errors.file}">
							<label for="select" class="sr-only control-label">Select a file to convert:</label>
							<select id="select" class="form-control" ng-model="file" ng-options="file.name for file in files">
								<option value="">Choose a file</option>
							</select>
						</div>
						<div class="col-xs-2">
							<a href="" class="btn btn-primary" ng-class="{disabled: converting}" ng-click="validate()">Convert</a>
						</div>
					</div>
				</form>
				<div class="row" ng-show="converting">
					<div class="col-xs-10 col-xs-offset-2">
						<p>Converting...</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
