<svg ng-attr-width="{{dimensions.width}}"
  ng-attr-height="{{dimensions.height}}">
  <g class="weightscale-viewport"
    ng-attr-transform="translate({{margins.left}}, {{margins.top}})">
    <rect ng-repeat="bmiZone in bmiZones" ng-attr-x="{{bmiZone.x}}"
    ng-attr-y="{{bmiZone.y}}" ng-attr-width="{{bmiZone.width}}"
    ng-attr-height="{{bmiZone.height}}" class="weightscale-bmizone"
    ng-class="bmiZone.colorClass"></rect>
    <rect class="weightscale-indicator" ng-attr-x="{{indicator.x}}"
    ng-attr-y="{{indicator.y}}" ng-attr-width="{{indicator.width}}"
    ng-attr-height="{{indicator.height}}"></rect>
    <rect class="weightscale-tick" ng-repeat="tick in ticks" ng-attr-x="{{tick.x}}"
      ng-attr-y="{{tick.y}}" ng-attr-width="{{tick.width}}" ng-attr-height="{{tick.height}}"></rect>
    <text class="weightscale-tick-text" ng-repeat="tick in ticks" ng-attr-x="{{tick.xText}}"
      ng-attr-y="{{tick.yText}}">{{tick.text}}</text>
    <rect class="weightscale-border" ng-attr-width="{{dimensions.border.width}}" ng-attr-height="{{dimensions.border.height}}"
      ng-attr-x="{{dimensions.border.x}}" ng-attr-y="{{dimensions.border.y}}"
      ng-attr-stroke-width="{{dimensions.border.thickness}}"></rect>
  </g>
</svg>