@setup("Developer's Guide") {
	<!-- Navbar -->
	<div id="navbar" class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Messages.index()">
           		<img class="navbar-brand" src="@routes.Assets.at("images/logo.png")" alt="Health Data Cooperative" />
           	</a>
		</div>
	</div>
	
	<!-- Content -->
	<div class="container">
		<div class="page-header">
			<h1>Developer's Guide</h1>
		</div>
		<div class="row">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
					<li><a href="#architecture" data-toggle="tab">Architecture</a></li>
					<li><a href="#apps" data-toggle="tab">Apps</a></li>
					<li><a href="#visualizations" data-toggle="tab">Visualizations</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<div class="tab-content">
					<div id="home" class="tab-pane fade active in">
						<h2>Overview</h2>
						<p>The developer's guide explains the general architecture of the
							platform, how plugins (apps and visualizations) interact with it,
							and how plugins bring in and display data.
						</p>
						<p><em style="font-weight:bold;">Apps</em> connect data sources to
							the platform. They are built to bring data onto the platform, by
							giving the users the possibility to either create a record
							themselves, or importing it from another where it has originally
							been created.
						</p>
						<p><em style="font-weight:bold;">Visualizations</em> display an
							aggregated view of the records that are passed to them. The
							purpose of visualizations is to foster the users' understanding of
							their own data.
						</p>
					</div>
					<div id="architecture" class="tab-pane fade">
						<h2>Architecture</h2>
						<p>The platform promises not to give data out. To adhere to that 
							promise, plugins run on an isolated and sandboxed application 
							server, that can only connect to the web application server, and 
							therefore especially not to the internet.</p>
						<p>Plugins need to be registered via the market and the code needs to
						be uploaded, so that it can be deployed on the plugin server.</p>
					</div>
					<div id="apps" class="tab-pane fade">
						<h2>Apps</h2>
						<p>An app provides the functionality to let the user create or import a 
						record and to give a detailed view of a single instance of a record
						created or imported by that app. Two REST endpoints, whose address is
						specified when registering the app on the market, expose the interface
						to the web application server.</p>
						<h3>Registration on the market</h3>
						<p>An app has to specify a name and a textual description, that describe
						what it does. Additionally, addresses relative to the app's base directory
						state the endpoints that are called when creating or importing a new 
						record, or when displaying the details of a single record.</p>
						<h4>URL to create records</h4>
						<p>This URL will be called when a user wants to create or import a new
						record. The web page behind that address should either give users the
						possibility to enter data themselves, or allow them to import data from
						the source where it was originally created.</p>
						<p>The URL can be chosen arbitrarily, but it has to include a part with 
						the string <code>:replyTo</code>. This part will be replaced with a Base64
						encoded string representing the URL that the newly created record should
						be sent to. A possible URL could be:</p>
						<pre>create/:replyTo</pre>
						<h4>URL to detailed record view</h4>
						<p>The page at this address provides the user with a close look at a single
						record. This is necessary when the name of the record does not include 
						sufficient information for the user to decide what to do with it, and 
						closer inspection is required.</p>
						<p>The URL for this request is again arbitrary, but must contain a part 
						with <code>:record</code>, that will be replaced with a Base64 encoded 
						representation of the record's data field. An example might look like
						this:</p>
						<pre>details/:record</pre>
						<h3>Creation/Import of a new record</h3>
						<p>This is how the data gets onto the platform. The GET request to the 
						specified URL includes the address that the reply should be directed to.
						When the user entered an AJAX request is sent to that address containing
						the following parameters:</p>
						<ul>
							<li>"data": A JSON string with the data to be stored.</li>
							<li>"name": A name for the record that is displayed in the record list
							and as a title of a search result.</li>
							<li>"description": A textual description of the record that is indexed
							by the search server. It is used when the user conducts a fulltext 
							search.</li>
						</ul>
						<h3>Detailed view of a single record</h3>
						<p>After the record has been pushed onto the platform and into a user's 
						account, the user must have a way to check the contents of that record.
						Since in the beginning, only the app knows how the record looks like, it
						must also give a view of a single record, that displays the important 
						facts of the record, so that the user can manage it accordingly, i.e.
						decide whether to share it and in which spaces to put it.</p>
					</div>
					<div id="visualizations" class="tab-pane fade">
						<h2>Visualizations</h2>
						<p>Visualizations aggregate a set of records and display interesting 
						characteristics to the user. It is called with the set of records, that
						the user determined, at the address given when the app was registered in
						the market.</p>
						<h3>Registration on the market</h3>
						<p>When registering a visualization on the market, the developer has to
						give a name and a textual description. This is shown to the user and 
						should capture the purpose and capabilities of the visualization best.</p>
						<h4>URL</h4>
						<p>The third property that has to be specified is the URL that will be 
						called with the records selected to be displayed by the app. The URL is 
						relative to the visualization's base directory and can be chosen 
						arbitrarily. It only has to include a part that contains the string
						<code>:records</code>. This part will be replaced with a Base64 encoded 
						JSON string containing the records passed to the visualization. An example
						of a visualization URL could look like this:</p>
						<pre>view/:records</pre>
						<h3>Data passed to the visualization</h3>
						<p>The records come as a Base64 encoded JSON string,
						representing an array of the data fields of the assigned records.
						The data field contains exactly what was passed to the platform at
						creation/import time (cf. Apps section, "Creation/Import of a new
						record").</p>
						<h3>Handling of heterogeneous records</h3>
						<p>It is the visualization's responsibility to check that the records
						passed to it are in the correct format. The users are free to assign any 
						records to a visualization, and can therefore also include records the
						visualization might not understand. It is up to the devloper's 
						implementation to decide on how to handle these cases.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}