@main("News") {
	<div ng-app="news" ng-controller="NewsCtrl">
		<div class="page-header">
			<h1>News</h1>
		</div>
		
		<div ng-cloak>
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{error}}</p>
			</div>
			
			<!-- Records jumbotron -->
			<div class="jumbotron" ng-show="pushed.length || shared.length">
				<h1>What's new?</h1>
				<div ng-show="pushed.length">
					<a href="" ng-click="showPushed()">{{pushed.length}} new record<span ng-show="pushed.length > 1">s</span></a>
					<span ng-show="pushed.length === 1">has</span>
					<span ng-show="pushed.length > 1">have</span>
					been pushed to your account.
				</div>
				<div ng-show="shared.length">
					<a href="" ng-click="showShared()">{{shared.length}} record<span ng-show="shared.length > 1">s</span></a>
					<span ng-show="shared.length === 1">has</span>
					<span ng-show="shared.length > 1">have</span>
					been shared with you.
				</div>
				<div style="padding-bottom:10px;">
					<div class="pull-right">
						<button type="button" class="btn btn-primary btn-lg" ng-click="showAll()">Show me all new records</button>
						<button type="button" class="btn btn-default btn-lg" ng-click="clearAll()">Okay, got it!</button>
					</div>
				</div>
			</div>
			
			<!-- News -->
			<p ng-show="loading">Loading news...</p>
			<div ng-hide="loading">
				<p ng-hide="news.length">There are no news.</p>
				<div class="panel panel-primary" ng-repeat="newsId in news" ng-show="news.length">
					<div class="panel-heading">
						{{newsItems[newsId.$oid].title}}
						<button type="button" class="close" aria-hidden="true" ng-click="hide(newsId)">&times;</button>
					</div>
					<div class="panel-body" style="white-space:pre-line;">{{newsItems[newsId.$oid].content}}</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Load news controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/date.js")" defer></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/news.js")" defer></script>
}
