@main("News") {
	<div ng-app="messages" ng-controller="MessagesCtrl">
		<div class="page-header">
			<h1>My messages</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
			
		<p ng-show="messages.length === 0">You have no messages yet.</p>
		<ul class="list-group" ng-show="messages.length > 0">
			<li class="list-group-item" ng-repeat="message in messages">
				<a href="javascript:;" ng-click="showMessage(message)">{{message.sender}}: {{message.title}}</a>
			</li> 
		</ul>
	</div>
	
	<!-- Load messages controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/messages.js")"></script>
}
