@main("Messages") {
	<div ng-app="messages" ng-controller="MessagesCtrl">
		<div class="page-header">
			<div class="pull-right">
				<a href="@routes.Messages.create()" class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil"></span> Write a new message
				</a>
			</div>
			<h1>My messages</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		
		<p ng-show="loading">Loading messages...</p>
		<div ng-show="!loading">
			<div class="row">
				<div class="col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#inbox" data-toggle="tab"><span class="glyphicon glyphicon-inbox"></span> Inbox <span class="badge pull-right">{{inbox.length}}</span></a></li>
						<li><a href="#archive" data-toggle="tab"><span class="glyphicon glyphicon-paperclip"></span> Archive <span class="badge pull-right">{{archive.length}}</span></a></li>
						<li><a href="#trash" data-toggle="tab"><span class="glyphicon glyphicon-trash"></span> Trash <span class="badge pull-right">{{trash.length}}</span></a></li>
					</ul>
				</div>
				<div class="col-md-10">
					<div class="tab-content">
						<div id="inbox" class="tab-pane fade active in">
							<p ng-hide="inbox.length">You have no new messages.</p>
							<ul class="list-group" ng-show="inbox.length">
								<li class="list-group-item" ng-repeat="messageId in inbox">
									{{names[messages[messageId.$oid].sender.$oid]}}: 
									<a href="javascript:;" ng-click="showMessage(messageId)">{{messages[messageId.$oid].title}}</a>
									<div class="pull-right">
										<button type="button" class="btn btn-xs btn-info" ng-click="move(messageId, 'inbox', 'archive')">
											<span class="glyphicon glyphicon-paperclip"></span>
										</button>
										<button type="button" class="btn btn-xs btn-warning" ng-click="move(messageId, 'inbox', 'trash')">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</div>
								</li> 
							</ul>
						</div>
						<div id="archive" class="tab-pane fade">
							<p ng-hide="archive.length">You have no archived messages.</p>
							<ul class="list-group" ng-show="archive.length">
								<li class="list-group-item" ng-repeat="messageId in archive">
									{{names[messages[messageId.$oid].sender.$oid]}}: 
									<a href="javascript:;" ng-click="showMessage(messageId)">{{messages[messageId.$oid].title}}</a>
									<div class="pull-right">
										<button type="button" class="btn btn-xs btn-primary" ng-click="move(messageId, 'archive', 'inbox')">
											<span class="glyphicon glyphicon-inbox"></span>
										</button>
										<button type="button" class="btn btn-xs btn-warning" ng-click="move(messageId, 'archive', 'trash')">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</div>
								</li> 
							</ul>
						</div>
						<div id="trash" class="tab-pane fade">
							<p ng-hide="trash.length">There are no messages in your trash.</p>
							<ul class="list-group" ng-show="trash.length">
								<li class="list-group-item" ng-repeat="messageId in trash">
									{{names[messages[messageId.$oid].sender.$oid]}}: 
									<a href="javascript:;" ng-click="showMessage(messageId)">{{messages[messageId.$oid].title}}</a>
									<div class="pull-right">
										<button type="button" class="btn btn-xs btn-primary" ng-click="move(messageId, 'trash', 'inbox')">
											<span class="glyphicon glyphicon-inbox"></span>
										</button>
										<button type="button" class="btn btn-xs btn-info" ng-click="move(messageId, 'trash', 'archive')">
											<span class="glyphicon glyphicon-paperclip"></span>
										</button>
										<button type="button" class="btn btn-xs btn-danger" ng-click="remove(messageId)">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Load messages controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/messages.js")"></script>
}
