@main("Records") {
	<div ng-app="records" ng-controller="RecordsCtrl">
		<!-- Header -->
		<div class="page-header">
			<div class="pull-right">
				<p ng-show="loadingApps">Loading apps...</p>
				<div ng-show="!loadingApps && apps.length === 0">
					<p>You can create or import records with apps.</p>
					<p>Go to the <a href="@routes.Market.index()">Market</a> to install one.</p>
				</div>
				<div class="btn-group" ng-show="!loadingApps && apps.length > 0">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-plus"></span> Create or import a new record
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="app in apps">
							<a href="javascript:;" ng-click="createRecord(app)">{{app.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<h1>My records</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		
		<!-- Records -->
		<p ng-show="loadingRecords">Loading records...</p>
		<p ng-show="!loadingRecords && records.length === 0">No available records found.</p>
		<ul class="list-group" ng-show="!loadingRecords && records.length > 0">
			<li class="list-group-item" ng-repeat="record in filteredRecords = (records | filter:matchesFilters)">
				<span class="label label-info">{{record.created}}</span>
				<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>
				<div class="pull-right">
					<button data-toggle="modal" data-target="#spacesModal" class="btn btn-sm btn-primary" ng-click="activate(record); loadSpaces()">
						<span class="glyphicon glyphicon-picture"></span> Show
					</button>
					<button data-toggle="modal" data-target="#circlesModal" class="btn btn-sm btn-primary" ng-class="{'disabled': !isOwnRecord(record)}" ng-click="activate(record); loadCircles()">
						<span class="glyphicon glyphicon-share"></span> Share
					</button>
				</div>
			</li>
		</ul>
		
		<!-- Filters -->
		<div ng-show="records.length > 0">
			<div class="row">
				<div class="form-group col-lg-3">
					<label for="appFilter" class="control-label">Created with: </label>
					<select id="appFilter" class="form-control" ng-model="filter.appId" ng-options="app._id as app.name for app in select.apps">
						<option value="">any</option>
					</select>
				</div>
				<div class="form-group col-lg-3">
					<label for="ownerFilter" class="control-label">Owned by: </label>
					<select id="ownerFilter" class="form-control" ng-model="filter.ownerId" ng-options="owner._id as owner.name for owner in select.owners">
						<option value="">any</option>
					</select>
				</div>
				<div class="form-group col-lg-6">
					<label for="dateFilter" class="control-label">Created between: <span style="color:#707070">{{filter.date}}</span></label>
					<input id="dateFilter" style="width:500px">
				</div>
			</div>
		</div>
		
		<!-- Spaces modal -->
		<div class="modal fade" id="spacesModal" role="dialog" aria-labelledby="spacesLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="spacesLabel">Spaces this record is shown in</h4>
					</div>
					<div class="modal-body">
						<p ng-show="loadingSpaces && spaces.length === 0">Loading spaces...</p>
						<p ng-show="!loadingSpaces && spaces.length === 0">You have no spaces yet. Go to <a href="@routes.Spaces.index()">your spaces</a> to create one.</p>
						<div ng-show="spaces.length > 0">
							<div class="checkbox" ng-repeat="space in spaces">
								<label>
									<input type="checkbox" name="{{space._id.$oid}}" ng-model="space.checked">
									{{space.name}}
								</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateSpaces()">Update</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Circles modal -->
		<div class="modal fade" id="circlesModal" role="dialog" aria-labelledby="circlesLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="circlesLabel">Circles this record is shared with</h4>
					</div>
					<div class="modal-body">
						<p ng-show="loadingCircles && circles.length === 0">Loading circles...</p>
						<p ng-show="!loadingCircles && circles.length === 0">You have no circles yet. Go to <a href="@routes.Circles.index()">your circles</a> to create one.</p>
						<div ng-show="circles.length > 0">
							<div class="checkbox" ng-repeat="circle in circles">
								<label>
									<input type="checkbox" name="{{circle._id.$oid}}" ng-model="circle.checked">
									{{circle.name}}
								</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCircles()">Update</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Load records controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/records.js")"></script>
}