@main("Search Results") {
	<div ng-app="search" ng-controller="SearchCtrl">
		<div class="page-header">
			<h1>Search results</h1>
		</div>
		
		<div ng-cloak>
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{error}}</p>
			</div>

			<p ng-show="loading">Searching...</p>
			<p ng-show="!loading && types.length === 0">No results matched your search.</p>
			<div ng-show="!loading && types.length > 0">
				<!-- Tabs for type of result -->
				<ul class="nav nav-tabs">
					<li ng-class="{'active': type === active}" ng-repeat="type in types">
						<a href="javascript:;" ng-click="makeActive(type)">{{capitalize(type)}}s</a>
					</li>
				</ul>
				
				<!-- Search results for current type -->
				<div class="tab-content">
					<div class="tab-pane fade" ng-class="{'active in': type === active}" ng-repeat="type in types">
						<ul>
							<li ng-repeat="result in results[type]">
								<a href="/{{type}}s/{{result.id}}">{{result.title}}</a>
								<p ng-show="result.highlighted" ng-bind-html="toHtml(result.highlighted)"></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Load search controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/search.js")" defer></script>
	
}