@setup("Password Assistance - Step 2") {
	<!-- Navbar -->
	<div id="navbar" class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Messages.index()">
           		<img class="navbar-brand" src="@routes.Assets.at("images/logo.png")" alt="Health Data Cooperative" />
           	</a>
		</div>
	</div>

	<div class="container" ng-app="lostpw" ng-controller="SetPasswordCtrl" ng-cloak>
		<div class="row">
			<!-- Login -->
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:600px; padding-top:120px; margin:0 auto;">
					<div class="panel panel-default">
		            	<div class="panel-heading">
		              		<h3 class="panel-title">Password Assistance - Step 2</h3>
		            	</div>
		            	<div class="panel-body">
			            	<div class="alert alert-danger" ng-show="setpw.error">
								<p>{{setpw.error}}</p>
							</div>
							<div class="alert alert-success" ng-show="setpw.success">
								<p>You have successfully set a new password for your account.</p>
								<p><a href="@routes.Application.welcome()">Go back to login page.</a></p>
							</div>
							<p>Please enter a new password for your account.</p>
							<form ng-submit="submit()" role="form">
								<input type="password" class="form-control" placeholder="New password" ng-model="setpw.password" style="margin-bottom:5px;" autofocus>								
								<input type="password" class="form-control" placeholder="Password repetition" ng-model="setpw.passwordRepeat" style="margin-bottom:5px;">
								<button type="submit" class="btn btn-primary btn-block">Set New Password</button>
							</form>
		            	</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- Load login controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/lostpw.js")" defer></script>
}
