@(user: org.bson.types.ObjectId)

@main(user, "Spaces") {
	<div ng-app="spaces" ng-controller="SpacesCtrl">
		<div class="page-header">
			<h1>My spaces</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		
		<!-- Spaces -->
		<p ng-show="loading">Loading spaces...</p>
		<div ng-show="!loading && spaces.length === 0">
			<p>You have no spaces yet. Add one by clicking on the button below.</p>
			<button data-toggle="modal" data-target="#spaceModal" class="btn btn-default" ng-click="loadVisualizations()">
				<span class="glyphicon glyphicon-plus"></span> Add a new space
			</button>
		</div>
		<div ng-show="!loading && spaces.length > 0">
			<!-- Space tabs -->
			<ul class="nav nav-tabs">
				<li ng-class="{'active': space.active}" ng-repeat="space in spaces">
					<a href="javascript:;" ng-click="makeActive(space)">{{space.name}}</a>
				</li>
				
				<!-- Add new space button -->
				<li>
					<button data-toggle="modal" data-target="#spaceModal" class="btn btn-default" ng-click="loadVisualizations()">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</li>
			</ul>
			<!-- Space content -->
			<div class="tab-content">
				<div class="tab-pane fade" ng-class="{'active in': space.active}" ng-repeat="space in spaces">
					<div class="row">
						<div ng-class="{'col-lg-6': space.compare}">
							<!-- Visualization -->
							<p ng-hide="space.trustedUrl">Loading space...</p>
							<iframe id="iframe-{{space._id.$oid}}" height="420px" width="100%" ng-show="space.trustedUrl"></iframe>
							
							<!-- Filters -->
							<div ng-show="space.baseRecords.length > 0">
								<div class="row">
									<div class="form-group col-lg-3">
										<label for="appFilter-{{space._id.$oid}}" class="control-label">Created with: </label>
										<select id="appFilter-{{space._id.$oid}}" class="form-control" ng-model="space.filters.appId" ng-options="app._id as app.name for app in space.select.apps">
											<option value="">any</option>
										</select>
									</div>
									<div class="form-group col-lg-3">
										<label for="ownerFilter-{{space._id.$oid}}" class="control-label">Owned by: </label>
										<select id="ownerFilter-{{space._id.$oid}}" class="form-control" ng-model="space.filters.ownerId" ng-options="owner._id as owner.name for owner in space.select.owners">
											<option value="">any</option>
										</select>
									</div>
									<div class="form-group col-lg-6">
										<label for="dateFilter-{{space._id.$oid}}" class="control-label">Created between: <span style="color:#707070">{{space.filters.date}}</span></label>
										<input id="dateFilter-{{space._id.$oid}}" style="width:500px">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6" ng-show="space.compare">
							<!-- Visualization -->
							<p ng-hide="space.copy.trustedUrl">Loading space...</p>
							<iframe id="iframe-copy-{{space._id.$oid}}" height="420px" width="100%" ng-show="space.copy.trustedUrl"></iframe>
							
							<!-- Filters -->
							<div ng-show="space.copy.baseRecords.length > 0">
								<div class="row">
									<div class="form-group col-lg-3">
										<label for="appFilter-copy-{{space._id.$oid}}" class="control-label">Created with: </label>
										<select id="appFilter-copy-{{space._id.$oid}}" class="form-control" ng-model="space.copy.filters.appId" ng-options="app._id as app.name for app in space.copy.select.apps">
											<option value="">any</option>
										</select>
									</div>
									<div class="form-group col-lg-3">
										<label for="ownerFilter-copy-{{space._id.$oid}}" class="control-label">Owned by: </label>
										<select id="ownerFilter-copy-{{space._id.$oid}}" class="form-control" ng-model="space.copy.filters.ownerId" ng-options="owner._id as owner.name for owner in space.copy.select.owners">
											<option value="">any</option>
										</select>
									</div>
									<div class="form-group col-lg-6">
										<label for="dateFilter-copy-{{space._id.$oid}}" class="control-label">Created between: <span style="color:#707070">{{space.copy.filters.date}}</span></label>
										<input id="dateFilter-copy-{{space._id.$oid}}" style="width:250px">
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Space controls -->
					<button class="btn btn-default" ng-hide="space.compare" ng-click="startCompare(space)">
						<span class="glyphicon glyphicon-adjust"></span> Compare
					</button>
					<button class="btn btn-default" ng-show="space.compare" ng-click="endCompare(space)">
						<span class="glyphicon glyphicon-ban-circle"></span> Finished comparing
					</button>
					<button data-toggle="modal" data-target="#recordModal-{{space._id.$oid}}" class="btn btn-primary">
						<span class="glyphicon glyphicon-plus-sign"></span> Add a record to this space
					</button>
					<button class="btn btn-danger" ng-click="deleteSpace(space)">
						<span class="glyphicon glyphicon-remove-sign"></span> Delete this space
					</button>
					
					<!-- Add records modal -->
					<div class="modal fade" id="recordModal-{{space._id.$oid}}" role="dialog" aria-labelledby="recordModalLabel-{{space._id.$oid}}" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="recordModalLabel-{{space._id.$oid}}">Add records to this space</h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal" ng-submit="searchRecords(space)">
										<div class="form-group">
											<div class="col-xs-10">
												<input type="text" class="form-control" placeholder="Search in your records" ng-model="space.recordQuery" autofocus>
											</div>
											<div class="col-xs-2">
												<button type="submit" class="btn btn-primary form-control">Search</button>
											</div>
										</div>
									</form>
									<p ng-show="searching">Searching...</p>
									<p ng-show="!searching && foundRecords.length === 0">No records matched your search.</p>
									<div ng-show="!searching && foundRecords.length > 0">
										<div class="checkbox" ng-repeat="record in filteredRecords = (foundRecords | filter:isntInSpace)">
											<label>
												<input type="checkbox" name="{{record._id.$oid}}" ng-model="record.checked">
												{{record.name}}
											</label>
										</div>
										<p ng-show="filteredRecords.length === 0">All found records are already in this space.</p>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addRecords(space)">Add</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- New space modal -->
		<div class="modal fade" id="spaceModal" role="dialog" aria-labelledby="spaceModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="spaceModalLabel">Create a new space</h4>
					</div>
					<div class="modal-body">
						<p ng-show="loadingVisualizations">Loading visualizations...</p>
						<div ng-show="!loadingVisualizations && visualizations.length === 0">
							<p>You can display records in your spaces with visualizations.</p>
							<p>Go to the <a href="@routes.Market.index()">Market</a> to install one.</p>
						</div>
						<div ng-show="!loadingVisualizations && visualizations.length > 0">
							<form class="form-horizontal" ng-submit="addSpace()">
								<div class="form-group">
									<label for="newSpaceName" class="col-lg-2 control-label">Name</label>
									<div class="col-lg-10">
										<input type="text" id="newSpaceName" class="form-control" placeholder="Name" ng-model="add.name" autofocus>
									</div>
								</div>
								<div class="form-group">
									<label for="newSpaceVisualization" class="col-lg-2 control-label">Visualization</label>
									<div class="col-lg-10">
										<select id="newSpaceVisualization" class="form-control" ng-model="add.visualization" ng-options="v._id as v.name for v in visualizations">
											<option value="">Choose a visualization</option>
										</select>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" ng-click="addSpace()">Create</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Load spaces controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/spaces.js")"></script>
}
