@main("News") {
	<div ng-app="details" ng-controller="MessageCtrl">
		<div class="page-header">
			<h1>Message Details</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		
		<div class="row">
			<p class="col-sm-2">Sent by:</p>
			<p class="col-sm-10">{{message.sender.name}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Sent on:</p>
			<p class="col-sm-10">{{message.created}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Received by:</p>
			<ul class="col-sm-10">
				<li ng-repeat="receiver in message.receivers">{{receiver.name}}</li>
			</ul>
		</div>
		<div class="row">
			<p class="col-sm-2">Title:</p>
			<p class="col-sm-10">{{message.title}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Content:</p>
			<p class="col-sm-10" style="white-space: pre-line;">{{message.content}}</p>
		</div>
	</div>
	
	<!-- Load details controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/details.js")"></script>
	
}