@(user: org.bson.types.ObjectId)

@main(user, "Records") {
	<div ng-app="details" ng-controller="RecordCtrl">
		<div class="page-header">
			<h1>Record Details</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		
		<div class="row">
			<p class="col-sm-2">Name:</p>
			<p class="col-sm-10">{{record.name}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Owned by:</p>
			<p class="col-sm-10">{{record.owner}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Created with:</p>
			<p class="col-sm-10">{{record.app}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Created by:</p>
			<p class="col-sm-10">{{record.creator}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Created on:</p>
			<p class="col-sm-10">{{record.created}}</p>
		</div>
		<iframe ng-src="{{record.url}}" height="420px" width="100%"></iframe>
	</div>
	
	<!-- Load details controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/details.js")"></script>
}