@(userId: org.bson.types.ObjectId)

@main(userId, "User Details") {
	<div ng-app="details" ng-controller="UserCtrl">
		<div class="page-header">
			<h1>User</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		
		<div class="row">
			<p class="col-sm-2">Name:</p>
			<p class="col-sm-10">{{user.name}}</p>
		</div>
		<div class="row">
			<p class="col-sm-2">Email:</p>
			<p class="col-sm-10">{{user.email}}</p>
		</div>
	</div>
	
	<!-- Load details controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/details.js")"></script>
}