@(user: org.bson.types.ObjectId)

@main(user, "Market") {
	<div ng-app="details" ng-controller="VisualizationCtrl">
		<div class="page-header">
			<h1>Market <small>Visualizations</small></h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
		<div class="alert alert-success alert-dismissable" ng-show="success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>You have successfully installed a new visualization. Go to your <a href="@routes.Spaces.index()">spaces</a> now to take a look.</p>
		</div>
		
		<p class="lead">{{visualization.name}}</p>
		<div class="row">
			<p class="col-xs-2">Created by:</p>
			<p class="col-xs-10">{{visualization.creator}}</p>
		</div>
		<div class="row">
			<p class="col-xs-2">Description:</p>
			<p class="col-xs-10">{{visualization.description}}</p>
		</div>
		
		<button type="button" class="btn btn-primary" ng-hide="visualization.installed" ng-click="install()">Install</button>
		<button type="button" class="btn btn-default" ng-show="visualization.installed" ng-click="uninstall()">Uninstall</button>
	</div>
	
	<!-- Load details controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/details.js")"></script>
}