<div ng-hide="error.show" class="row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <div ng-repeat="glassUnit in waterGlasses[0]"
          class="col-sm-2 col-md-2 col-lg-2 repeated-item">
          <water-glass style="display: block; height: 120px"
            water-level-value="glassUnit.value"></water-glass>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div ng-repeat="glassUnit in waterGlasses[1]"
          class="col-sm-2 col-md-2 col-lg-2 repeated-item">
          <water-glass style="display: block; height: 120px"
            water-level-value="glassUnit.value"></water-glass>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h2>HDC Recommends</h2>
          <p class="text-primary">
            To drink 10 glasses of 200ml every day.
          </p>
          <p class="text-success" ng-show="goalAccomplished">
            Congrats! On {{selectedDate | date}} you drank the recommended
            amount of water.
          </p>
          <p class="text-warning" ng-show="goalUnaccomplished">
            Oh no! On {{selectedDate | date}} you did not drink the
            recommended amount of water.
          </p>
          <p class="text-warning" ng-show="noDataInDate">
            We have no water consumption data for {{selectedDate | date}}.
          </p>
          <p class="text-danger" ng-hide="dateForm.inputDate.$valid">
            Please select a valid date from the field below.
          </p>
        </div>
        <form name="dateForm" class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-5 control-label">Display date:</label>
              <div class="col-xs-7">
                <input type="date" placeholder="yyyy-mm-dd"
                  ng-model="selectedDate"
                  name="inputDate"
                  class="form-control"
                  ng-change="dateChanged()"
                  required>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="error.show">
  <div class="alert alert-danger">{{error.message}}</div>
</div>