.angular-google-map-container { height: 400px; }

.day-legend {
	color: black;
}

.sunday {
	background-color: #FFEFBC;
}
.monday {
	background-color: #CAE8AB;
}
.tuesday {
	background-color: #FFC1B4;
}
.wednesday {
	background-color: #D0DAFF;
}
.thursday {
	background-color: #FFC279;
}
.friday {
	background-color: #8180E8;
}
.saturday {
	background-color: #FF8C88;
}

.progress-bar {
	color: black;
}

.intensity-1 {
	background-color: rgba(255, 246, 0, 1);
}
.intensity-2 {
	background-color: rgba(255, 201, 50, 1);
}
.intensity-3 {
	background-color: rgba(255, 167, 83, 1);
}
.intensity-4 {
	background-color: rgba(255, 136, 71, 1);
}
.intensity-5 {
	background-color: rgba(255, 90, 73, 1);
}