<div>
    <h4>Genotype frequencies in different populations <font size="1">(Data taken from <a href="http://www.hapmap.ncbi.nlm.nih.gov">HapMap</a>)</font> <a href="" popover="filler filler filler" popover-trigger="mouseenter">?</a></h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-show="data[rs].hapmap">
                <div ng-bind-html="data[rs].hapmapChart"></div>
                <br/>
                <p>
                    <font size="1">
                        ASW (A): African ancestry in Southwest USA<br/>CEU (C): Utah residents with Northern and Western European ancestry from the CEPH collection<br/>CHB (H): Han Chinese in Beijing, China<br/>CHD (D): Chinese in Metropolitan Denver, Colorado<br/>GIH (G): Gujarati Indians in Houston, Texas<br/>JPT (J): Japanese in Tokyo, Japan<br/>LWK (L): Luhya in Webuye, Kenya<br/>MEX (M): Mexican ancestry in Los Angeles, California<br/>MKK (K): Maasai in Kinyawa, Kenya<br/>TSI (T): Toscans in Italy<br/>YRI (Y): Yoruba in Ibadan, Nigeria (West Africa)
                    </font> 
                </p>
            </div>
            <div ng-show="!data[rs].hapmap">N/A</div>
        </div>
    </div>
</div>
