<svg class="time-series-viewport" ng-attr-width="{{dimensions.width}}"
  ng-attr-height="{{dimensions.height}}">
    <defs>
      <clippath id="focus-clip">
        <rect ng-attr-width="{{dimensions.content.width}}"
              ng-attr-height="{{dimensions.focus.height}}"></rect>
      </clippath>
    </defs>
    <g class="time-series-focus"
     ng-attr-transform="translate({{dimensions.margins.left}},
                                  {{dimensions.margins.top}})">
      <path ng-repeat="dataLine in dataLines"
       class="time-series-focus-line time-series-focus-line-{{$index}}"
       clip-path="url(#focus-clip)"
       ng-attr-d="{{dataLine}}"></path>
      <g class="time-series-x time-series-axis time-series-focus"
       ng-attr-transform="translate(0, {{dimensions.focus.height}})"></g>
      <g class="time-series-y time-series-axis"></g>
      <g class="time-series-points">
        <g ng-repeat="pointSet in pointSets">
          <path ng-repeat="point in pointSet.points"
           ng-attr-transform="translate({{point.x}}, {{point.y}})"
           ng-attr-d="{{pointSet.symbol}}"
           class="time-series-point"
           ng-class="pointSet.colorClass"
           ng-mouseenter="showTooltip(point)"
           ng-mouseleave="hideTooltip()"></path>
        </g>
        <text class="time-series-tooltip"
           ng-attr-transform="translate({{tooltip.x}}, {{tooltip.y}})"
           ng-show="tooltip.show">{{tooltip.value}}</text>
      </g>
    </g>
    <g class="time-series-context"
       ng-attr-transform="translate({{dimensions.margins.left}},
                                    {{dimensions.context.y}})">
      <path ng-repeat="dataArea in dataAreas"
       class="time-series-context-area time-series-context-area-{{$index}}"
       ng-attr-d="{{dataArea}}"></path>
      <g class="time-series-x time-series-axis time-series-context"
       ng-attr-transform="translate(0, {{dimensions.context.height}})"></g>
      <g class="time-series-x time-series-brush"></g>
    </g>
    <g class="time-series-axis-titles">
      <text
       ng-attr-transform="translate(30, 
         {{dimensions.margins.top + dimensions.focus.height/2}})
         rotate(-90)">{{yTitle}}</text>
      <text
       ng-attr-transform="translate({{dimensions.content.width/2 +
                                      dimensions.margins.left}},
                                    {{dimensions.height}})">{{xTitle}}</text>
    </g>
</svg>