<div ng-hide="error.show" class="row">
  <div class="col-xs-8">
    <time-series style="display: block; height: 400px;" 
     axis-x-title="Date" y-title=""
     data="displayedDatasets"
     ng-show="displayTimeSeries"></time-series>
    <div class="jumbotron" ng-hide="displayTimeSeries">
      <h1>View your data!</h1>
      <p>Please select some data to visualize from the menu on the right.</p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Available data</h3>
          </div>
          <div class="panel-body">
            <select class="form-control"
              ng-options="dataSet.title for dataSet in availableDataSets"
              ng-model="selectedDataset">
              <option value="">--Select a dataset to add--</option>
            </select>
            <hr>
            <button class="btn btn-block btn-success"
              ng-click="displayDataset()"
              ng-disabled="disableDisplayButton">Display</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Displayed data</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item time-series-legend time-series-legend-{{$index}}"
                ng-repeat="dataSet in displayedDatasets">
              {{dataSet.title}} <a href="" ng-click="hideDataset($index)">
                                  <span class="glyphicon glyphicon-eye-close">
                                  </span>
                                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="error.show" class="row">
  <div class="alert alert-danger">
    {{error.msg}}
  </div>
</div>
