<div>
    <div ng-show="loading">
        <h3>Loading records...</h3>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>

    <div ng-if="!loading">

        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Successfully loaded information about {{loaded_snps_count}} SNPs from you personal genome data.
        </div>

        <img src="img/SNP_snip_logo.png" alt="image of SNP snip logo not found"><br><br>		

        <form>
            <label>Search for a SNP</label>
            <a ng-click="open()">Help</a>
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" ng-click="searchUpdate(input.rs)" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" ng-model="input.rs" placeholder="rs-number (e.g. rs53576)">
            </div>
        </form>

        <alert ng-if="invalidInput" type="danger">Please enter a SNP-identifier in the format rs+number (example: rs1000113)</alert>

        <div ng-if="searches.length > 0">

            <br/>

            <tabset>
                <tab ng-repeat="search in searches" ng-click="searchUpdate(search.rs)" active="search.active">
                    <tab-heading>{{search.rs}} <a ng-click="removeTab($index)" href=""><i class="glyphicon glyphicon-remove"></i></a></tab-heading>
                </tab>
            </tabset>

            <br/>

            <div class="panel panel-default">
                <div class="panel-heading">Your genome</div>
                <div class="panel-body">
                    <div ng-if="userHas">Your genotype for SNP {{rs}} is {{genotype}} (Orientation: {{orientation}}).</div>
                    <div ng-if="!userHas">N/A</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Snpedia information</div>
                <div class="panel-body">
                    <div ng-if="snpediaText!=null" ng-bind-html="snpediaText"></div>
                    <div ng-if="snpediaText==null">N/A</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Hapmap information</div>
                <div class="panel-body">
                    <div ng-if="hapmapChart!=null">
                        <div compile="hapmapChart"></div>
                        <br/>
                        <p>
                            <font size="1">
                                ASW (A): African ancestry in Southwest USA<br/>CEU (C): Utah residents with Northern and Western European ancestry from the CEPH collection<br/>CHB (H): Han Chinese in Beijing, China<br/>CHD (D): Chinese in Metropolitan Denver, Colorado<br/>GIH (G): Gujarati Indians in Houston, Texas<br/>JPT (J): Japanese in Tokyo, Japan<br/>LWK (L): Luhya in Webuye, Kenya<br/>MEX (M): Mexican ancestry in Los Angeles, California<br/>MKK (K): Maasai in Kinyawa, Kenya<br/>TSI (T): Toscans in Italy<br/>YRI (Y): Yoruba in Ibadan, Nigeria (West Africa)
                            </font> 
                        </p>
                    </div>
                    <div ng-if="hapmapChart==null">N/A</div>
                </div>
            </div>
        </div>
    </div>
</div>
