<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SNP-SNIP</title>
		<link rel="stylesheet" href="lib/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap-theme.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
		<script type="text/javascript" src="modules/js/handlers.js" defer></script>
		<style>
		.panel-body {max-height: 500px !important; overflow: auto;}
		</style>
		<base target='_blank' />
	</head>
	<body>

		<div class="container" ng-app="hdcSnpSnip" ng-controller="SnpSnipCtrl" ng-cloak>
			<div ng-show="imported" class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Record import successful!</strong><br/>
				<span ng-show="recordCount() === 1">{{recordCount()}} record has </span>
				<span ng-hide="recordCount() === 1">{{recordCount()}} records have </span>
				been imported.
			</div>

			<div ng-show="importFailed" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Record import failed!</strong><br/>
				No records were imported. You can still browse the SNP database but there will be no information on your personal genome.
			</div>

			<div ng-show="!imported && !importFailed" class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Loading records ...</strong><br/>
				You can already browse the SNP database but there will be no information on your personal genome.
			</div>

			<div ng-show="recordCount()" class="well">
				<form class="form-inline" ng-submit="">
					<div class="form-group">
						<label for="selectRecord" class="control-label">Selected record: </label>
						<select id="selectedRecord" class="form-control" ng-model="selectedRecord" ng-options="record.name for (id, record) in records">
						</select>
					</div>
				</form>
				<p>
					Date of generation: {{selectedRecord.data.date}}<br/>
					Build: <a href={{selectedRecord.data.buildUrl}}>{{selectedRecord.data.build}}</a><br/>
				</p>
			</div>

			<img src="img/SNP_snip_logo.png" alt="image of SNP snip logo not found" width="100%">

			<div>
				<label>Search for a SNP</label>
				<a href="" data-toggle="modal" data-target="#helpModal">Help</a>
				<form ng-submit="searchUpdate()">
					<div class="input-group">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">Go!</button>
						</span>
						<input type="text" class="form-control" placeholder='rs-number (e.g. "rs53576")' ng-model="input">
					</div>
				</form>
				<p>
					<div ng-show="invalidInput" class="alert alert-danger">
						<strong>Invalid input!</strong>
						Please enter a SNP-identifier in the format rs+number (example: rs1000113)
					</div>
				</p>
			</div>

			<div ng-show="searches.length === 0">
				<br/>
				<h4><span class="mw-headline" id="Popular">Popular searches <font size="1">(List taken from <a href="http://www.snpedia.com">SNPedia</a>)</font></span></h4>
				<ul>
					<li><a href="" ng-click="input = 'rs53576'; searchUpdate()" title="Rs53576">rs53576</a> in the oxytocin receptor influences social behavior and personality
					</li>
					<li><a href="" ng-click="input = 'rs1815739'; searchUpdate()" title="Rs1815739">rs1815739</a> muscle performance
					</li>
					<li><a href="" ng-click="input = 'rs7412'; searchUpdate()" title="Rs7412">rs7412</a> and <a href="" ng-click="input = 'rs429358'; searchUpdate()" title="Rs429358">rs429358</a> can raise the risk of <a href="http://www.snpedia.com/index.php/Alzheimer%27s_disease" title="Alzheimer's disease">Alzheimer's disease</a> by more than 10x 
					</li>
					<li><a href="" ng-click="input = 'rs6152'; searchUpdate()" title="Rs6152">rs6152</a> can influence <a href="http://www.snpedia.com/index.php/Baldness" title="Baldness">baldness</a>
					</li>
					<li><a href="" ng-click="input = 'rs333'; searchUpdate()" title="Rs333">rs333</a> resistance to <a href="http://www.snpedia.com/index.php/HIV" title="HIV">HIV</a> 
					</li>
					<li><a href="" ng-click="input = 'rs1800497'; searchUpdate()" title="Rs1800497">rs1800497</a> in a dopamine receptor may influence the sense of pleasure 
					</li>
					<li><a href="" ng-click="input = 'rs1805007'; searchUpdate()" title="Rs1805007">rs1805007</a> determines <a href="http://www.snpedia.com/index.php/Red_hair" title="Red hair" class="mw-redirect">red hair</a> and sensitivity to anesthetics
					</li>
					<li><a href="" ng-click="input = 'rs9939609'; searchUpdate()" title="Rs9939609">rs9939609</a> triggers <a href="http://www.snpedia.com/index.php/Obesity" title="Obesity">obesity</a> and <a href="http://www.snpedia.com/index.php/Type-2_diabetes" title="Type-2 diabetes">type-2 diabetes</a>
					</li>
					<li><a href="" ng-click="input = 'rs662799'; searchUpdate()" title="Rs662799">rs662799</a> prevents weight gain from high fat diets
					</li>
					<li><a href="" ng-click="input = 'rs7495174'; searchUpdate()" title="Rs7495174">rs7495174</a> green <a href="http://www.snpedia.com/index.php/Eye_color" title="Eye color">eye color</a> and <a href="" ng-click="input = 'rs12913832'; searchUpdate()" title="Rs12913832">rs12913832</a> for blue <a href="http://www.snpedia.com/index.php/Eye_color" title="Eye color">eye color</a>
					</li>
					<li><a href="" ng-click="input = 'rs7903146'; searchUpdate()" title="Rs7903146">rs7903146</a> in 3% of the population greatly increases the risk of <a href="http://www.snpedia.com/index.php/Type-2_diabetes" title="Type-2 diabetes">type-2 diabetes</a>
					</li>
					<li><a href="" ng-click="input = 'rs12255372'; searchUpdate()" title="Rs12255372">rs12255372</a> linked to <a href="http://www.snpedia.com/index.php/Type-2_diabetes" title="Type-2 diabetes">type-2 diabetes</a> and <a href="http://www.snpedia.com/index.php/Breast_cancer" title="Breast cancer">breast cancer</a>
					</li>
					<li><a href="" ng-click="input = 'rs1799971'; searchUpdate()" title="Rs1799971">rs1799971</a> makes <a href="http://www.snpedia.com/index.php/Alcohol_dependence" title="Alcohol dependence" class="mw-redirect">alcohol cravings</a> stronger
					</li>
					<li><a href="" ng-click="input = 'rs17822931'; searchUpdate()" title="Rs17822931">rs17822931</a> determines <a href="http://www.snpedia.com/index.php/Earwax" title="Earwax">earwax</a>
					</li>
					<li><a href="" ng-click="input = 'rs4680'; searchUpdate()" title="Rs4680">rs4680</a> varied cognitive effects
					</li>
					<li><a href="" ng-click="input = 'rs1333049'; searchUpdate()" title="Rs1333049">rs1333049</a> <a href="http://www.snpedia.com/index.php/Coronary_heart_disease" title="Coronary heart disease" class="mw-redirect">coronary heart disease</a>
					</li>
					<li><a href="" ng-click="input = 'rs1801133'; searchUpdate()" title="Rs1801133">rs1801133</a> <a href="http://www.snpedia.com/index.php/Folate" title="Folate">folate</a> metabolism and several cancers 
					</li>
					<li><a href="" ng-click="input = 'rs1051730'; searchUpdate()" title="Rs1051730">rs1051730</a> and <a href="" ng-click="input = 'rs3750344'; searchUpdate()" title="Rs3750344">rs3750344</a> nicotine dependence
					</li>
					<li><a href="" ng-click="input = 'rs4988235'; searchUpdate()" title="Rs4988235">rs4988235</a> <a href="http://www.snpedia.com/index.php/Lactose_intolerance" title="Lactose intolerance">lactose intolerance</a>
					</li>
				</ul>
			</div>

			<div ng-show="searches.length > 0">
				<!-- Search tabs -->
				<ul class="nav nav-tabs">
					<li ng-class="{'active': search.active}" ng-repeat="search in searches">
						<a href="" ng-click="makeActive(search)">
							{{search.rs}}
							<span ng-click="removeTab(search)">&times;</span>
						</a>
					</li>
				</ul>
				<!-- Search content -->
				<div class="tab-content">
					<div class="tab-pane fade" ng-class="{'active in': search.active}" ng-repeat="search in searches">
						<div ng-show="loadingRecordDataFailed" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Loading record data failed!</strong><br/>
							Could not load record information for this SNP.
						</div>

						<div class="jumbotron">
							<h4>Your genotype for SNP <span class="label label-default">{{rs}}</span> is <span ng-show="selectedRecord[rs]"><span class="label label-default">{{selectedRecord[rs].genotype}}</span> (Orientation: {{data[rs].orientation}})</font></span><span ng-show="!selectedRecord[rs]">not available</span>.</h4>
						</div>

						<div ng-show="loadingDataFailed" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Loading data failed!</strong><br/>
							Could not load additional information for this SNP.
						</div>

						<div ng-repeat="resource in data[rs].resources">
							<div ng-include="'modules/templates/'+resource+'.html'"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Help modal -->
			<div class="modal fade" id="helpModal" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="helpModalLabel">Help</h4>
						</div>
						<div class="modal-body">
							<h4>What is SNP-snip?</h4>
							SNP-snip is a simple tool that allows you to look up which variant of a SNP (single nucleotice polymorphism) you carry at a particular location in your genome and provides a number of external links that give you further information about this particular SNP. 
							To use this tool you need to have data your personal genotype data stored in this data bank. You may have obtained this data either from a direct-to-consumer service such as <a href="http://www.23andme.com">23andMe</a> or <a href="http:www.navigenics.com">Navigenics</a>, in the course of genetic testing for a medical condition or as part of a research study. If the appropriate data is available in your profile, you should be able to choose it in the drop
							-down menu on the left.
							<h4>What is a SNP?</h4>
							Overall the sequence of any two humans will be very similar, but there are nevertheless numerous genetic variations that distinguish an indiviudal from all others. This genetic variation is part of what makes us unique. <br/> A particularly common type of genetic variation are so-called <a href="http://en.wikipedia.org/wiki/Single-nucleotide_polymorphism">Single Nucelotide Polymorphisms (SNPs) </a> in which a specific <a href="http://en.wikipedia.org/wiki/Base_pair">base pair</a>
							in a specific location of our genome differs from one individual to the next. <br/>
							<h4>What is an rs-number?</h4>
							The rs-number (e.g. rs53576) identifies a specific location in the human genome where a genetic variation has been observed. Think of it as a molecular ZIP code. The use of rs-numbers facilitates the comparison of genetic variation across individuals and across research studies. 
							<h4>How can I use my personal SNP data?</h4>
							A large number of research studies have linked the genetic variations at specific SNPs to a wide-range of phenomena.<br/> For example a SNP with a particular rs-number may have been found to be linked to a particular disease, such that carriers of one variant may be more likely to develop that disease than the carriers of the other variant. Other SNPs may change the way an individual reacts to certain medications while yet another SNP may provide insights into an individual's genetic ancestry. 
							<h4>How do I use SNP-snip?</h4>
							If you have stored personal genotype information (e.g. from 23andMe) in your account the SNP-snip tool allows you to determine your genotype at a particular SNP (i.e. which variant you carry at the genome location identified by a given rs-number). In the search field below the SNP-snip logo enter the rs-number of the SNP that interests you. If your personal genotype data contains information on this SNP, you will be shown a page that shows your genotype a this SNP and additional information about this SNP such as a short description, links to relevant scientific literature as well as information extracted from online databases. 
							<h4>Limitations of SNP-snip</h4>
							Commercial genotyping tests measure only a subset (only about 1 million) of the more than 10 million known SNPs. Information may therefore not be available for each of the SNPs you search for.<br/> Please note that any information beyond your genotype at the specified SNP, which is extracted directly from the genotyping data you uploaded, all other information provided in the SNP-snip results is not curated by SNP-snip. Instead, this additional information and the external links are aglomerated from public online resources such as <a href="http://snpedia.com">SNPedia</a>, <a href="http://dbsnp.org">dbsnp</a> and <a href="http://ncbi.gov">pubmed</a>. SNP-snip takes noresponsibility for the accuracy of this external information.
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
