@(contacts: List[User], users: List[User], circles: List[Circle], activeCircle: org.bson.types.ObjectId, user: String)
@active(circleId: org.bson.types.ObjectId) = @{
	circleId.equals(activeCircle)
}

@main(user, "circles") {
	<div class="page-header">
		<h1>My circles</h1>
	</div>

	@if(circles.isEmpty()) {
		<p>You have no circles yet. Add one by clicking on the button below.</p>
		<button data-toggle="modal" data-target="#circleForm" class="btn btn-default">
			<span class="glyphicon glyphicon-plus-sign"></span> Add a new circle
		</button>
	} else {
		<!-- Circle tabs -->
		<ul id="circleTabs" class="nav nav-tabs">
			@circles.map { circle =>
				<li tab-id="@circle._id" class="circleTab @if(active(circle._id)){active}">
					<a href="#@circle._id" data-toggle="tab"><span class="circleName">@circle.name</span></a>
				</li>
			}
			<!-- Add new circle button -->
			<li>
				<button data-toggle="modal" data-target="#circleForm" class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</li>
		</ul>
		
		<div id="circleContent" class="tab-content">
			@circles.map { circle =>
				@views.html.elements.circle(contacts, users, circle, active(circle._id))
			}
		</div>
	}
	
	<!-- New circle modal -->
	@helper.form(routes.Circles.add) {
		<div class="modal fade" id="circleForm" role="dialog" aria-labelledby="circleFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="circleFormLabel">Create a new circle</h4>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" placeholder="Name" name="name" autofocus>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->
	}
	
	<!-- Load specific js -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/circles.js")"></script>
}
