@(circles: List[Circle], user: User)

@main(user) {
	<div class="page-header">
		<h1>My circles</h1>
	</div>

	<ul id="circles">
		@if(circles.isEmpty()) {
			<p id="noCircles">You have no circles yet. Add one by clicking on the button below.</p>
		} else {
			@circles.map { circle =>
				@views.html.elements.circle(circle)
			}
		}
	</ul>

	<button class="btn btn-default addCircle">
		<span class="glyphicon glyphicon-plus-sign"></span> Add circle
	</button>
	
	<!-- Load specific js -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/circles.js")"></script>
}
