@(messages: List[Message], user: User)

@*** TODO ***
Can't do one call for every request to the User object.

Do this by loading the user in the message class.
--- OR ---
Provide general "get(collection, id, key)" method that retrieves 
the value of the key of the document with this id in the given collection.
***@
@getUser(email: String) = @{
	User.find(email)
}

@main(user) {
	<h1>My messages</h1>
	<hr>

	@messages.groupBy(_.sender).map {
	    case (sender, messages) => {
            <h2>@getUser(sender).name</h2>
            <ul id="messages">
                @messages.map { message =>
                    <li message-id="@message._id">
                        <h2>@message.title</h2>
                        @message.content
                    </li>
                    <hr>
                }
            </ul>
	    }
	}
}
