@(user: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Healthbank</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
	    <a href="@routes.Application.index" id="logo"><span>Health</span>bank</a>
	    <dl id="user">
	        <dt>@user.name <span>(@user.email)</span></dt>
	        <dd>
	            <a href="@routes.Application.logout()">Logout</a>
	        </dd>
	    </dl>
	</header>
	<nav>
		<h4 class="dashboard">
			<a href="#/">News</a>
		</h4>
		<ul id="projects">
			<li>
				<h4 class="groupName">
					<a href="#/">Spaces</a>
				</h4>
				<h4 class="groupName">
					<a href="#/">Circles</a>
				</h4>
				<h4 class="groupName">
					<a href="#/">Access</a>
				</h4>
			</li>
		</ul>
	</nav>
	<section id="main">
		@content
	</section>
</body>
</html>
