@(user: org.bson.types.ObjectId, active: String)(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>Health Data Cooperative@if(!active.isEmpty()){ - @active}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Health Data Cooperative">
		<meta name="author" content="amarfurt">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<!-- Clear CSS defaults -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<!-- Plugin CSS -->
		<link href="@routes.Assets.at("bootstrap/css/slider.css")" rel="stylesheet">
		<link href="@routes.Assets.at("bootstrap/css/typeahead.css")" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="@routes.Assets.at("bootstrap/css/custom/main.css")" rel="stylesheet">
		<!-- JS framework and libraries -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>
        <!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap-slider.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/typeahead.min.js")"></script>
	</head>
	<body>
		<!-- Navbar -->
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="@routes.Application.index">
	            		<img class="navbar-brand" src="@routes.Assets.at("images/logo.png")" alt="Health Data Cooperative" />
	            	</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
		            	<li @if("News".equals(active)){class="active"}><a href="/">News <span class="badge">0</span></a></li>
						<li @if("Records".equals(active)){class="active"}><a href="/records">Records</a></li>
						<li @if("Spaces".equals(active)){class="active"}><a href="/spaces">Spaces</a></li>
						<li @if("Circles".equals(active)){class="active"}><a href="/circles">Circles</a></li>
						<li @if("Market".equals(active)){class="active"}><a href="/market">Market</a></li>
					</ul>
					@helper.form(routes.GlobalSearch.submit, 'id -> "globalSearchForm", 'class -> "navbar-form navbar-left") {
						<div class="form-group">
							<input type="text" id="globalSearch" name="globalSearch" class="form-control" placeholder="Search">
						</div>
					}
					<ul class="nav navbar-nav navbar-right">
						<li><p class="navbar-text">@User.getName(user)</p></li>
						<li><a href="@routes.Application.logout()">
							<span class="glyphicon glyphicon-off"></span> Sign out
						</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		
		<div class="container">
			@content
		</div>
		
		<!-- Scripts at the end for faster page loading -->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/search.js")"></script>
		<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
	</body>
</html>
