@(user: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Healthbank</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/circles.js")"></script>
		<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
    </head>
    <body>
    <header>
	    <a href="@routes.Application.index" id="logo"><img src="@routes.Assets.at("images/logo.png")" alt="Healthbank" /></a>
	    <dl id="user">
	        <dt>@user.name <span>(@user.email)</span></dt>
            <a href="@routes.Application.logout()">Logout</a>
	    </dl>
	</header>
	<nav>
		<ul class="navigation">
			<li><a href="/#">News</a></li>
			<li><a href="/#">Spaces</a></li>
			<li><a href="circles">Circles</a></li>
			<li><a href="/#">Access</a></li>
		</ul>
	</nav>
	<section id="main">
		@content
	</section>
</body>
</html>
