@(spotlightedApps: List[App], spotlightedVisualizations: List[Visualization], recentVisualizations: List[Visualization], user: org.bson.types.ObjectId)

@main(user, "Market") {
	<!-- *** Apps *** -->
	<div class="page-header">
		<div class="pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-plus"></span> Register new
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="@routes.Market.registerAppForm()">App</a></li>
					<li><a href="@routes.Market.registerVisualizationForm()">Visualization</a></li>
				</ul>
			</div>
		</div>
		<h1>Market</h1>
	</div>
	<div class="page-header">
		<h1><small>Apps</small></h1>
	</div>
	<div class="row">
		<!-- Spotlight -->
		<div class="col-xs-12 col-md-6">
			<p class="lead">Spotlight</p>
			<div class="media">
				@spotlightedApps.map { app =>
					<a class="pull-left" href="@routes.Market.showApp(app._id.toString())">
						<img class="media-object" src="" alt="Icon">
					</a>
					<div class="media-body">
						<a href="@routes.Market.showApp(app._id.toString())">@app.name</a>
						<p>@app.description</p>
					</div>
				}
			</div>
		</div>
	</div>
	
	<!-- *** Visualizations *** -->
	<div class="page-header">
		<h1><small>Visualizations</small></h1>
	</div>
	<div class="row">
		<!-- Spotlight -->
		<div class="col-xs-12 col-md-6">
			<p class="lead">Spotlight</p>
			<div class="media">
				@spotlightedVisualizations.map { visualization =>
					<a class="pull-left" href="@routes.Market.showVisualization(visualization._id.toString())">
						<img class="media-object" src="" alt="Icon">
					</a>
					<div class="media-body">
						<a href="@routes.Market.showVisualization(visualization._id.toString())">@visualization.name</a>
						<p>@visualization.description</p>
					</div>
				}
			</div>
		</div>
		<!-- Recent -->
		<div class="col-xs-12 col-md-6">
			<p class="lead">Recently published</p>
			<div class="media">
				@recentVisualizations.map { visualization =>
					<a class="pull-left" href="@routes.Market.showVisualization(visualization._id.toString())">
						<img class="media-object" src="" alt="Icon">
					</a>
					<div class="media-body">
						<a href="@routes.Market.showVisualization(visualization._id.toString())">@visualization.name</a>
						<p>@visualization.description</p>
					</div>
				}
			</div>
		</div>
	</div>
	
	<!-- Load specific js -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/market.js")"></script>
	
}