@(results: Map[String, List[utils.search.SearchResult]], user: org.bson.types.ObjectId)

@main(user, "Search Results") {
	<div class="page-header">
		<h1>Search results</h1>
	</div>
	
	@if(results.size() > 0) {
		@results.keySet().map { resultType =>
			<h2>@resultType.capitalize</h2>
			<ul>
			@results.get(resultType).map { result =>
				<li>
					<a href="@routes.GlobalSearch.show(resultType, result.id.toString())">@result.title</a>
					@if(result.highlighted != null) {
						<p>@Html(result.highlighted)</p>
					}
				</li>
			}
			</ul>
		}
	} else {
		<p>No results found for your search.</p>
	}
}