@(records: List[Record], shared: Set[org.bson.types.ObjectId], circles: List[Circle], user: String)

@main(user) {
	<div class="page-header">
		<h1>My sharing settings</h1>
	</div>
	
	@if(flash.contains("success")) {
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@flash.get("success")
		</div>
	}
	
	<h4>Create a rule for sharing your data...</h4>
	<button type="button" class="btn btn-lg btn-primary">Create rule</button>

	<h4>... or share data with your circles manually.</h4>
	@helper.form(routes.Share.share) {
		<!-- Columns 1/3 circles, 2/3 records; on mobile and desktop -->
		<div id="share" class="row">
			<div class="col-xs-4">
				<div id="circles" class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Circles</h3>
					</div>
					<div class="panel-body" id="Test">
						@if(circles.isEmpty()) {
							<p>You have no circles yet. Define them on your circles page.</p>
						} else {
							@circles.map { circle => 
								@views.html.elements.share.circle(circle)
							}
						}
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				@views.html.elements.records(records, shared)
			</div>
		</div>
		<button id="shareButton" type="submit" class="btn btn-lg btn-primary btn-block" disabled>Share</button>
	}
	
	<!-- Load specific js -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/share.js")"></script>
}
