@(spaceForm: Form[forms.SpaceForm], spaces: List[Space], user: User)

@main(user) {
	<div class="page-header">
		<h1>My spaces</h1>
	</div>
	
	@if(spaceForm.hasGlobalErrors) {
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@spaceForm.globalError.message
		</div>
	}
	
	<!-- Manually add a new record here -->
	<button type="button" data-toggle="modal" data-target="#newRecordForm" class="btn btn-primary pull-right">
		<span class="glyphicon glyphicon-plus"></span> Manually add a new record
	</button>
	@helper.form(routes.Spaces.manuallyAddRecord) {
		<div class="modal fade" id="newRecordForm" role="dialog" aria-labelledby="newRecordFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="newRecordFormLabel">Create a new space</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<textarea class="form-control" rows="3" placeholder="Record data" name="data"></textarea>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->
	}
	
	
	<!-- Space tabs -->
	<ul id="spaceTabs" class="nav nav-tabs">
		@spaces.map { space =>
			<li tab-id="@space._id" class="spaceTab">
				<a href="#@space._id" data-toggle="tab"><span class="spaceName">@space.name</span></a>
			</li>
		}
		<!-- Add new space button -->
		<li>
			<button data-toggle="modal" data-target="#spaceForm" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</li>
	</ul>
	
	<div id="spaceContent" class="tab-content">
		@spaces.map { space =>
			@views.html.elements.space(space, user)
		}
	</div>
	
	<!-- New space modal -->
	@helper.form(routes.Spaces.add) {
		<div class="modal fade" id="spaceForm" role="dialog" aria-labelledby="spaceFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="spaceFormLabel">Create a new space</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<input type="text" class="form-control" placeholder="Name" name="name" value="@spaceForm("name").value" autofocus>
							<input type="text" class="form-control" placeholder="Visualization (to be replaced by dropdown list)" name="visualization">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->
	}

	<!-- Load specific js -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/spaces.js")"></script>
}
