@(spaceForm: Form[forms.SpaceForm], records: List[Record], spaces: List[Space], activeSpace: org.bson.types.ObjectId, user: String)

@main(user) {
	<div class="page-header">
		<h1>My spaces</h1>
	</div>
	
	@if(spaceForm.hasGlobalErrors) {
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@spaceForm.globalError.message
		</div>
	}
	
	<!-- Manually add a new record here -->
	<button type="button" data-toggle="modal" data-target="#newRecordForm" class="btn btn-primary pull-right">
		<span class="glyphicon glyphicon-plus"></span> Manually add a new record
	</button>
	@helper.form(routes.Spaces.manuallyAddRecord) {
		<div class="modal fade" id="newRecordForm" role="dialog" aria-labelledby="newRecordFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="newRecordFormLabel">Create a new space</h4>
					</div>
					<div class="modal-body">
						<textarea class="form-control" rows="3" placeholder="Record data" name="data" autofocus></textarea>
						<input type="text" class="form-control" placeholder="Tags (by which you can find this record when searching)" name="tags">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->
	}
	
	<!-- Space tabs -->
	<ul id="spaceTabs" class="nav nav-tabs">
		<li class="@if(activeSpace == null){active}">
			<a href="#default-space" data-toggle="tab">All records</a>
		</li>
		@spaces.map { space =>
			<li tab-id="@space._id" class="spaceTab @if(space._id.equals(activeSpace)){active}">
				<a href="#@space._id" data-toggle="tab"><span class="spaceName">@space.name</span></a>
			</li>
		}
		<!-- Add new space button -->
		<li>
			<button data-toggle="modal" data-target="#spaceForm" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</li>
	</ul>
	
	<!-- Space content -->
	<div id="spaceContent" class="tab-content">
		<div id="default-space" class="space tab-pane fade @if(activeSpace == null){active in}">
			<div class="list-group">
				<span class="list-group-item active">Records</span>
				@if(records.size() > 0) {
					@records.map { record =>
						<a href="" class="record list-group-item">
							@Record.dataToString(record.data)
						</a>
					}
				} else {
					<p class="list-group-item">You have no records available yet.</p>
				}
			</div>
		</div>
		@spaces.map { space =>
			@views.html.elements.space(records, space, activeSpace)
		}
	</div>

	<!-- New space modal -->
	@helper.form(routes.Spaces.add) {
		<div class="modal fade" id="spaceForm" role="dialog" aria-labelledby="spaceFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="spaceFormLabel">Create a new space</h4>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" placeholder="Name" name="name" value="@spaceForm("name").value" autofocus>
						<input type="text" class="form-control" placeholder="Visualization (to be replaced by dropdown list)" name="visualization">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</div> <!-- /.modal-content -->
			</div> <!-- /.modal-dialog -->
		</div> <!-- /.modal -->
	}

	<!-- Load specific js -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/spaces.js")"></script>
}
