@(loginForm: Form[forms.Login], registrationForm: Form[forms.Registration])

<html>
    <head>
        <title>Healthbank</title>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Healthbank login page">
	    <meta name="author" content="amarfurt">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	    <!-- Bootstrap core CSS -->
	    <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">
	    <!-- Bootstrap theme -->
	    <link href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")" rel="stylesheet">
	    
	    <!-- Custom styles for this template -->
    	<link href="@routes.Assets.at("bootstrap/css/custom/login.css")" rel="stylesheet">
    	
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    </head>
    <body>
    	<!-- Navbar -->
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="@routes.Application.index">
	            		<img class="navbar-brand" src="@routes.Assets.at("images/logo.png")" alt="Healthbank" />
	            	</a>
	          	</div>
	        </div>
      	</div>
		
		<div class="container">
			<!-- Columns 1/2 login, 1/2 registration; on mobile and desktop -->
			<div id="share" class="row">
				<div class="col-xs-6">
					<!-- Login -->
					@helper.form(routes.Application.authenticate) {
						<div class="panel-container">
							<div class="panel panel-default">
				            	<div class="panel-heading">
				              		<h3 class="panel-title">Sign in</h3>
				            	</div>
				            	<div class="panel-body">
					            	@if(loginForm.hasGlobalErrors) {
					            		<div class="alert alert-danger">
											@loginForm.globalError.message
						            	</div>
									}
									@if(flash.contains("success")) {
										<div class="alert alert-success">
											@flash.get("success")
										</div>
									}
									<input type="email" class="form-control" placeholder="Email address" name="email" value="@loginForm("email").value" autofocus>
									<input type="password" class="form-control" placeholder="Password" name="password">
									<label class="checkbox">
										<input type="checkbox" value="remember-me"> Remember me
									</label>
									<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				            	</div>
							</div>
						</div>
					}
				</div>
				<div class="col-xs-6">
					<!-- Registration -->
					@helper.form(routes.Application.register) {
						<div class="panel-container">
							<div class="panel panel-default">
				            	<div class="panel-heading">
				              		<h3 class="panel-title">Sign up</h3>
				            	</div>
				            	<div class="panel-body">
					            	@if(registrationForm.hasGlobalErrors) {
					            		<div class="alert alert-danger">
											@registrationForm.globalError.message
						            	</div>
									}
									<input type="email" class="form-control" placeholder="Email address" name="email" value="@registrationForm("email").value">
									<input type="text" class="form-control" placeholder="First name" name="firstName" value="@registrationForm("firstName").value">
									<input type="text" class="form-control" placeholder="Last name" name="lastName" value="@registrationForm("lastName").value">
									<input type="password" class="form-control" placeholder="Password" name="password">
									<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
				            	</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div> <!-- /container -->
		
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    </body>
</html>