@setup("Welcome") {
	<!-- Navbar -->
	<div id="navbar" class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@routes.Messages.index()">
	           		<img class="navbar-brand" src="@routes.Assets.at("images/logo.png")" alt="Health Data Cooperative" />
	           	</a>
			</div>
		</div>
	</div>

	<div class="container" ng-app="login" ng-controller="LoginCtrl">
		<div class="row">
			<!-- Login -->
			<div class="col-sm-6">
				<div class="panel-container" style="max-width:330px; padding-top:120px; margin:0 auto;">
					<div class="panel panel-default">
		            	<div class="panel-heading">
		              		<h3 class="panel-title">Sign in</h3>
		            	</div>
		            	<div class="panel-body">
			            	<div class="alert alert-danger" ng-show="login.error">
								<p>{{login.error}}</p>
							</div>
							<form ng-submit="login()" role="form">
								<input type="email" class="form-control" placeholder="Email address" ng-model="login.email" style="margin-bottom:5px;" autofocus>
								<input type="password" class="form-control" placeholder="Password" ng-model="login.password" style="margin-bottom:5px;">
								<!-- TODO -->
								<label class="checkbox" style="font-weight:normal;">
									<input type="checkbox" value="remember-me"> Remember me
								</label>
								<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
							</form>
		            	</div>
					</div>
				</div>
			</div>
			<!-- Registration -->
			<div class="col-sm-6">
				<div class="panel-container" style="max-width:330px; padding-top:120px; margin:0 auto;">
					<div class="panel panel-default">
		            	<div class="panel-heading">
		              		<h3 class="panel-title">Sign up</h3>
		            	</div>
		            	<div class="panel-body">
		            		<div class="alert alert-danger" ng-show="registration.error">
								<p>{{registration.error}}</p>
							</div>
							<form ng-submit="register()" role="form">
								<input type="email" class="form-control" placeholder="Email address" ng-model="registration.email" style="margin-bottom:5px;">
								<input type="text" class="form-control" placeholder="First name" ng-model="registration.firstName" style="margin-bottom:5px;">
								<input type="text" class="form-control" placeholder="Last name" ng-model="registration.lastName" style="margin-bottom:5px;">
								<input type="password" class="form-control" placeholder="Password" ng-model="registration.password" style="margin-bottom:5px;">
								<button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
							</form>
		            	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Load login controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/login.js")"></script>
}
