<div class="row" id="meal-wrapper">
    <div class="col-xs-8 text-center">
        <svg id="meal">
            <g id="ellipses"></g>
            <g id="texts"></g>
            <g id="ellipses-click"></g>
        </svg>
    </div>
    <div class="col-xs-4">
        <div class="row text-left">
            <h3 class="col-xs-12 meal-controller-title">Date</h3>
        </div>
        <div class="row text-left">
            <div class="col-xs-6">
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="selectedDate" is-open="isDatepickerOpen" min-date="datepickerMin" max-date="datepickerMax" date-disabled="isDateDisabled(date, mode)" ng-required="true" show-button-bar="false" disabled="disabled"></span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="updateSelectedDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row text-left">
            <h3 class="col-xs-12 meal-controller-title">Meals</h3>
        </div>
        <div class="row text-left" ng-show="isMealsEmpty">
            <p class="col-xs-8 clock-controller-text">No meal recorded on this day</p>
        </div>
        <div class="row text-left" ng-hide="isMealsEmpty">
            <div class="btn-group col-xs-6" dropdown is-open="isMealMenuOpen">
                <button class="btn btn-default dropdown-toggle">
                    {{selectedMeal.menuText}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a>Choose a meal to display</a></li>
                    <li class="divider"></li>
                    <li ng-repeat="option in meals" ng-click="updateSelectedMeal(option)">
                        <a>{{option.menuText}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-left" ng-hide="isMealsEmpty">
            <h4 class="col-xs-8"><small>Note</small><br><span class="text-info">{{selectedMeal.note}}</span></h4>
            <h4 class="col-xs-8"><small>{{selectedMeal.calories.text}}</small> <span class="text-info">{{selectedMeal.calories.value}}</span></h4>
            <h4 class="col-xs-8"><small>{{selectedMeal.numDrinks.text}}</small> <span class="text-info">{{selectedMeal.numDrinks.value}}</span></h4>
            <h4 class="col-xs-8"><small>{{selectedMeal.numFoods.text}}</small> <span class="text-info">{{selectedMeal.numFoods.value}}</span></h4>
        </div>
    </div>
</div>
