<div ng-hide="error.show" class="row">
  <div class="col-xs-6">
    <ui-gmap-google-map center="mapParams.center" zoom="mapParams.zoom"
      draggable="true">
        <ui-gmap-window coords="infoWindow.coords" show="infoWindow.show"
          templateUrl="'templates/info-window.html'"
          templateParameter="infoWindow.workout"
          closeClick="closeInfoWindow(true)"></ui-gmap-window>
        <ui-gmap-markers models="weeklyMarkers" coords="'self'" icon="'icon'"
          click="'onClick'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
  <div class="col-xs-3">
    <div ng-show="summary.ready" class="row">
      <div class="well">
        <h3>Calories <small>{{summary.totalCalories | number: 0}} kcal</small></h3>
        <div class="progress progress-striped active">
          <div ng-repeat="caloriesSummary in summary.caloriesPerDay"
            class="progress-bar"
            style="width: {{caloriesSummary.percent | number: 5}}%"
            ng-class="weekDays[caloriesSummary.dayNumber].colorClass">
            <span>{{caloriesSummary.calories | number: 0}}</span>
          </div>
        </div>
        <h3>Steps <small>{{summary.totalSteps | number: 0}} steps</small></h3>
        <div class="progress progress-striped active">
          <div ng-repeat="stepsSummary in summary.stepsPerDay"
            class="progress-bar"
            style="width: {{stepsSummary.percent | number: 5}}%"
            ng-class="weekDays[stepsSummary.dayNumber].colorClass">
            <span>{{stepsSummary.steps | number: 0}}</span>
          </div>
        </div>
        <h3>Time <small>{{summary.totalTime | number: 0}} mins</small></h3>
        <div class="progress progress-striped active">
          <div ng-repeat="timeSummary in summary.timePerDay"
            class="progress-bar"
            style="width: {{timeSummary.percent | number: 5}}%"
            ng-class="weekDays[timeSummary.dayNumber].colorClass">
            <span>{{timeSummary.time | number: 0}}</span>
          </div>
        </div>
        <h3>Intensity <small>(1-5)</small></h3>
        <div class="progress progress-striped active">
          <div ng-repeat="percent in summary.intensityPercents"
            class="progress-bar intensity-{{$index + 1}}"
            style="width: {{percent.percent | number: 5}}%">
            <span>{{$index + 1}}</span>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="summary.ready" class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h2>See your workouts!</h2>
          <p>Select a week to start.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="row">
      <form name="dateForm" class="col-xs-12">
        <h2>Display week</h2>
        <div class="form-group">
          <input type="week" ng-model="selectedWeek" placeholder="YYYY-W##"
            ng-change="changedWeekSelection()" class="form-control"
            name="dateInput" required>
        </div>
        <div ng-show="dateForm.dateInput.$valid" class="form-group">
          <p class="form-control-static text-info">
            Week from {{selectedWeekStart | date : 'shortDate'}} to 
              {{selectedWeekEnd | date : 'shortDate'}}
          </p>
          <p ng-hide="dataPresent" class="form-control-static text-warning">
            No data present for this week.
          </p>
        </div>
        <div class="form-group">
          <p class="form-control-static text-danger"
            ng-hide="dateForm.dateInput.$valid">
            This is not a valid date. Please set a valid date.
          </p>
        </div>
      </form>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href ng-click="collapseLegend()">Legend
                <span class="glyphicon glyphicon-th-list"></span></a>
            </h3>
          </div>
          <ul ng-hide="legendCollapsed" class="list-group">
              <li class="list-group-item day-legend"
                ng-repeat="day in presentWeekDays"
                ng-class="day.colorClass">
                {{day.name}}
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="error.show">
  <div class="alert alert-danger">{{error.message}}</div>
</div>